[2014-07-18 09:51] frankrousseau opened #1 "README is not updated."
README is still the template one.

[2014-07-18 09:52] frankrousseau opened #2 "Link project with Travis"
Does the project is integrated with our Travis account?

[2014-07-18 10:03] #1 closed, assigned to nobody

[2014-07-30 20:46] tobkle opened #3 "Timeouts"
Getting always timeouts for all my different imap mail servers using port 993. It looks like the connection cannot be established. The (debian) cozy-server's port 993 and 9282 are open in the firewall. Do I need additional ports in the firewall opened? Or how can I investigate the cause of this timeout deeper?  Can anyone help?

The cozy-email production log tells me this:

[2014-07-30 20:22:26:42

[2014-08-03 09:35] #3 closed, assigned to nobody

[2014-09-04 17:42] bnjbvr opened #18 "/js/bundle.js not found"
Blank page when loading the app right after installing the app. The following request fails:

GET https://cozy.example.com/apps/emails/js/bundle.js [HTTP/1.1 404 Not Found 42ms]

[2014-09-09 09:10] #18 closed, assigned to nobody

[2014-09-19 06:44] #2 closed, assigned to nobody

[2014-11-25 11:47] aenario opened #39 "Special characters in attachment"
- [ ] need to be compatible with weird characters
- [ ] need to allow downloading of attachment with whitespace
- [ ] add such mail to dovecot-testing

[code]

[2014-11-28 14:56] #39 closed, assigned to nobody

[2014-11-29 15:19] frankrousseau opened #41 "Reverse conversation sorting"
Most recent messages should come first.

[2014-11-29 15:19] frankrousseau opened #42 "Make the menu items horizontal"
It would allow to display more boxes without scrolling.

[2014-11-29 15:41] frankrousseau opened #43 "When the compose widget is displayed, it should focused on the right field"
The `to` field when it's a new email.

The `content` field when it's an answer.

[2014-11-29 16:48] frankrousseau opened #44 "From button is broken"
Due to my recent changes, the from button is broken. It doesn't display the combo box on remote Cozy. On local Cozy, it the dropdown is broken.

[2014-11-29 16:58] frankrousseau opened #45 "Improve Mobile Usability"
Globally it works well on mobile (for a casual usage like reading most recent emails). But it requires to fix some margins and to not display contact tooltips.

[2014-11-29 16:59] frankrousseau opened #46 "Improve information message style"
Make them look more like the rest of the UI.

[2014-11-29 17:00] frankrousseau opened #47 "Improve extended message headers"
The layout and the information are not properly displayed. It's disappointing to see the same header as before in case of simple headers.

[2014-11-29 17:06] frankrousseau opened #48 "Conversation : Scroll on the current message on display"
Currently, it keeps the scroll on top of the conversation.

[2014-11-29 17:10] frankrousseau opened #49 "Improve contact tooltip UX"
The contact adding UX is bad: it displays poorly the contact information, the contact picture is bigger than the tooltip and the button doesn't react when mouse is over.

[2014-11-29 17:13] frankrousseau opened #50 "Message list scrolling is weird"
Message list works but it loads unexpected messages (very old ones) before hiding them.

[2014-11-29 17:16] frankrousseau opened #51 "Sanitization don't work properly"
Sanitization removes too much things from the email.

The library currently used is kind of blackbox. We should avoid it. What about using [santize-html](https://www.npmjs.org/package/sanitize-html) instead?

[2014-12-02 16:55] #50 closed, assigned to nobody

[2014-12-02 16:55] #51 closed, assigned to nobody

[2014-12-08 08:29] frankrousseau opened #53 "Contact detection don't check all contact's email addresses"
When I received a mail from a contact that has several emails recorded in the Contact application, it is not always detected. Only the first email is checked.

[2014-12-08 08:30] frankrousseau opened #54 "Get out of select mode after deletion"
When I delete several emails, I'm stuck in select mode. I can't read my emails anymore.

[2014-12-08 08:32] frankrousseau opened #55 "Deleted messages are not unselected"
When I delete a message it is kept as selected. In fact, when I perform several deletion in a row, it pop ups toasts telling me that previously deleted message are deleted again.

[2014-12-08 15:12] frankrousseau opened #56 "When a message is deleted with the keyboard the new selected email is not properly selected in the message list"
The selected style is not set.

[2014-12-08 15:13] frankrousseau opened #57 "Show a spinner on message sending"

[2014-12-08 15:19] #44 closed, assigned to nobody

[2014-12-08 15:21] clochix opened #58 "Allow to display preview of images attachments"

[2014-12-08 15:30] aenario opened #59 "[Contact] add to index"

[2014-12-08 15:32] frankrousseau opened #60 "Number of unread messages is not properly displayed"

[2014-12-08 15:33] frankrousseau opened #61 "Messages title with same title are always considered as conversation"
It can be annoying when you receive regular messages from the same vendor.

[2014-12-08 15:39] frankrousseau opened #62 "Put back quick filters for important and unread messages"

[2014-12-08 15:40] frankrousseau opened #63 "Display a spinner when messages are loading (instead of empty box)"

[2014-12-09 14:57] clochix opened #64 "Fix display of buttons when editing a draft message"

[2014-12-09 15:04] clochix opened #65 "Error message when saving draft with more than one attachment"
When I try to add more than one attachment to a message, I get this error in console:

[code]

[2014-12-09 15:11] clochix opened #66 "There's no way to delete an attachment from a draft message"
The delete icon is explicitly hidden, so I suppose there's a reason…

[2014-12-10 19:43] clochix opened #67 "Problem modifying an account immediately after its creation"
Quote from an early tester:

    tiens j'ai voulu revenir sur "modifier le compte " pour changer le nom du compte : impossible
    à chaque fois que je veux changer une lettre dans le champ "nom" le nom initial se remet automatiquement
    le champ est impossible à effacer avec la touche retour arrière

Problem disappear after reloading page

[2014-12-10 22:53] goofy-bz opened #68 "[feature request] A delete feature for messages without being obliged to open-read them"
It happens every now and then that a quick glance on a mail title is enough to decide to delete it. In the current config, you need to open the message and display it in the side column to be able to find the tiny trashcan button.
I wish I could delete one message at once with a little delete icon next to its title or with a big delete button displayed permanently and active as soon as one message

[2014-12-11 07:45] ghost opened #69 "[minor annoyance] "No email in this box" message briefly displayed though box is not empty"
There is a short delay between the moment when you click on a subfolder in your mail and the moment when the content of the relative box is displayed.
During a while (depending on the number of messages to be retrieved on some distant mail server) there appears a "No email in this box" message. This is slightly confusing, since the numerous ~~fucking useless~~ interesting mails are displayed one s

[2014-12-11 08:37] clochix opened #70 "Get lang from the Cozy instance"
And remove it from settings

[2014-12-11 09:33] aenario opened #71 "Explicit error on account creation"
Reported by @clochix on behalf of @goofy-bz

One of our error for account creation was not explicit enough. Goofy, do you remember what you did / what was the error displayed ?

[2014-12-11 10:10] frankrousseau opened #72 "First mailbox loading experience improvements"
Here is a suggestion list to improve the first time connection:
- Display by defaul the mailbox creation screen
- Change the label "Label" with something more explicit (title?).
- Give more information about how to add a gmail box (tell to Google that cozy-emails is not an intruder).

[2014-12-11 10:11] frankrousseau opened #73 "Yahoo support"
It looks like Yahoo mailbox are not importable.

[2014-12-11 10:17] aenario opened #74 "Gmail less secure app explanation"

[2014-12-11 11:08] aenario opened #75 "Quick filters & change of box"
When I switch to another mailbox,
the quickfilter stay in its state (good)
but LayoutActionCreator query mails without it

[2014-12-11 12:51] #71 closed, assigned to nobody

[2014-12-11 15:43] frankrousseau opened #76 "Conversation: every messages are loaded in the left column"
When a conversation is displayed, every messages are loaded in the left column.
An easy way to reproduce it is to make one email of the conversation as important. Then reload the app. Apply the important filter, then click on the conversation message. You should see the weird message list in the left column.

[2014-12-11 15:45] #70 closed, assigned to clochix

[2014-12-11 16:00] #62 closed, assigned to clochix

[2014-12-11 16:06] #61 closed, assigned to aenario

[2014-12-11 16:16] #74 closed, assigned to aenario

[2014-12-11 17:11] #54 closed, assigned to clochix

[2014-12-11 17:12] #55 closed, assigned to clochix

[2014-12-11 17:25] #75 closed, assigned to clochix

[2014-12-11 21:31] clochix opened #77 "Delete conversation doesn't seem to work"

[2014-12-12 10:16] clochix opened #78 "When deleting a message, don't wait for server response before displaying next message"

[2014-12-12 10:31] clochix opened #79 "When editing a save draft, we don't get the HTML editor"

[2014-12-12 12:29] goofy-bz opened #80 "Error message should disappear when changing mailbox"
I experienced this
1. Tried to delete one message in the Trash box
2. Got this ominous pink-backgrounded poem  "Argh, I'm unable to perform this action, please try again" (I like poetry no prob)
3. Clicked on another mailbox (hence leaving the Trash box)
4. When content of the *other* mailbox is displayed, there is still the persistent error message which is now a meaningless visual annoyance.

On

[2014-12-12 12:55] #69 closed, assigned to aenario

[2014-12-12 20:43] clochix opened #81 "Canceling a reply to a message shouldn't close the original message"

[2014-12-13 18:34] goofy-bz opened #82 "No helpful message when a new mail account creation fails"
Here is what I recently experienced:
1. Clicked on the left-hand side button in order to create a new mailbox account.
2. Filled the various fields and probably dropped wrong parameters :)
3. Instead of one expected error message such as:
*Connection failed, please check your parameters or contact you sysadmin*

...there appeared a long yellow streak without information nor comfort :) **see screen

[2014-12-15 09:31] clochix opened #83 "Add support for other auth methods"
For the record, here are the methods supported by Thunderbird:
https://wiki.mozilla.org/Thunderbird:Supported_authentication_methods

But node_imap only supports plain, OAUTH and OAUTH2, so it may be a WONTFIX.

[2014-12-15 09:33] clochix opened #84 "Allow to use a login distinct from the address"
Add a login field to IMAP and SMTP parameters

[2014-12-15 09:47] aenario opened #85 "Refresh realtime already filled box"
When I refresh my emails on a mailbox where I have already a few mails, all new emails are loaded at the top of the view, if I were in holliday for a long time, this may be a lot of email.

We should limit this to say a full view and then stop loading and display the "load more" link

ref : https://github.com/cozy/cozy-emails/blob/f532c14188b21156402f8549f27f7ddcfacf7725/client/app/components/mess

[2014-12-15 15:19] aenario opened #86 "Create a standalone version"

[2014-12-15 18:22] #78 closed, assigned to clochix

[2014-12-15 18:27] #58 closed, assigned to clochix

[2014-12-15 18:29] #41 closed, assigned to aenario

[2014-12-15 18:30] #48 closed, assigned to aenario

[2014-12-15 18:31] #56 closed, assigned to clochix

[2014-12-15 18:31] #57 closed, assigned to clochix

[2014-12-15 18:32] #63 closed, assigned to nobody

[2014-12-15 18:34] #65 closed, assigned to clochix

[2014-12-15 18:36] #72 closed, assigned to nobody

[2014-12-15 20:27] #59 closed, assigned to clochix

[2014-12-16 13:20] aenario opened #87 "Allow colspan attribute in mail html"
Most html mail are formatted using table and need colspan & rowspan attributes.
It appears the sanitizer remove them.

[2014-12-16 14:38] clochix opened #88 "JS error when deleting an account"
I got a lot of errors in Console when deleting an acount:

    TypeError: _messages.remove is not a function

Seems to come from RECEIVE_MESSAGE_DELETE in message_store

[2014-12-17 08:41] clochix opened #89 "Improve mass deletion"
STR:
 - create a bunch of draft messages;
 - in draft folder, select them all and click the trash icon;
 - deletion is slow (less than 1s for the firsts messages, around 2.5s after) and the browser has trouble displaying all confirmation dialog;

[2014-12-17 09:19] aenario opened #90 "In conversation reply doesn't immediately appears in the conversation"

[2014-12-17 09:30] clochix opened #91 "Send errors to Cozy"
On error window, add a way to easily send errors to Cozy, without having to copy and paste error message.

[2014-12-17 10:06] clochix opened #92 "User should'nt be able to create or delete message when special mailboxes are undefined"

[2014-12-17 10:57] clochix opened #93 "Allow to empty trash"

[2014-12-17 23:46] gabeos opened #94 "Error message told me to report, so here I am."
Error message:

[34mINFO[39m sockethandler notify message.create [object Object]
[32mDBUG[39m models:message storeAttachments
[32mDBUG[39m imap:pool 449da60aed6971528c7db03e250cd467 _deQueue/startTimer
[34mINFO[39m sockethandler notify message.create [object Object]
[32mDBUG[39m models:message storeAttachments
[32mDBUG[39m models:message fetchOrUpdate 449da60aed6971528c7db03e250ce288  1465445077.1

[2014-12-17 23:47] gabeos opened #95 ""Message saved" notifications don't disappear"
When composing a message, the blue "Message saved" notifications pile up and wait for manual dismissal. I also currently have four that are unresponsive to clicks, and won't go away at all.

I appreciate the notification, but it should disappear on it's own, or, better, remove the notification and embed the functionality in the "Save Draft" button, greying it out when it's auto-saved or some other

[2014-12-18 09:57] aenario opened #96 "Add Notifications"
Cozy & Desktop

ref. https://developer.mozilla.org/en/docs/Web/API/notification

[2014-12-19 00:48] #94 closed, assigned to nobody

[2014-12-19 18:19] #81 closed, assigned to nobody

[2014-12-19 18:20] #86 closed, assigned to aenario

[2014-12-21 20:19] clochix opened #97 "Lazy loading of messages seems to only work on defaut account"

[2014-12-21 21:37] clochix opened #98 "Allow to access raw attachments"
In order to verify GPG signatures, I need access to raw massage body, before parsing and decoding by MailParser (MailParser remove the body from the attachments if it's content-disposition is `inline`).

A function that fetch the raw IMAP message and send it without parsing to the client would probably do the job. Il would also allow to export the raw message as EML.

[2014-12-22 06:48] clochix opened #99 "Add a legacy Rich Text Editor"
Some people don't like "Medium like" RTE, we should propose another editor.
/cc-ing @poupotte

[2014-12-23 07:37] ghost opened #101 "[feature request] There should be more options for received attachments"
When receiving attached files I wish I have this choice:
- Download this attachment / Download all attachments
- Save this file to my cozyfiles

[2015-01-08 11:12] clochix commented on #82
I think it has been fixed a while ago. Could you give it another try and report here any case when you still encounter the problem ?
Thanks !

[2015-01-08 21:59] goofy-bz commented on #82
Yessir there is now a nice friendly message telling me "Serveur d'envoi invalide" twice:
* in a yellow upper streak
* in a message below the appropriate failing field
thank you, dear witchdoctor of code.
trivial:  in French there is "Serveur d'envoi" (2x) and "Serveur sortant", though it is rather clear I think this can be unified somewhat.

[2015-01-08 22:01] #82 closed

[2015-01-12 19:40] clochix opened #103 "Allow to use Sieve filters"
Sieve is a popular way to filter emails on server side. It's both
 - a language to describe filters and actions;
 - a protocol to manage filters on a Sieve enabled Email server.

We can't assume the remote server allows to manage filters, so we should probably allow the user to upload some Sieve scripts into the Email application, and apply the filters on our side.

A lot of tools exist that allow

[2015-01-13 14:35] aenario opened #104 "Add settings to hide previous email text in compose form"
Received by email from a beta-tester

[2015-01-13 14:36] aenario opened #105 "When putting compose in fullsize with <->, mail is empty"
Received by email from a beta-tester

[2015-01-13 14:46] m4dz commented on #103
Maybe we can implement those filtering capabilities in to complementaries way:

1. If the IMAP server supports SIEVE filtering (available behind a dedicated sieve port), then filtering is executed remotely, and CozyMail just pass scripts to IMAP server through ManageSieve protocol
2. If the IMAP server does not, so filtering is executed locally inside CozyMail, using the SIEVE scripts _or not_.

T

[2015-01-14 13:24] clochix opened #106 "Cache external plugins"
We should cache the code of external plugins :
 - allow to use them even if remote server is unavailable;
 - for security consideration (maybe alerting user when remote code changes);

What about hosting ourselves a marketplace of reviewed addons ?

[2015-01-14 15:18] clochix commented on #104
Do you mean allowing to toggle visibility of previous message text, or removing it before replying ?

[2015-01-14 15:24] aenario commented on #104
The user comes from Gmail, so its probably the same he wants :

default behaviour is to hide the content of the previous message
(~ blockquote display:none}

There is a toggle to display it if one wants to reply below/inside the previous message

[2015-01-15 08:42] clochix commented on #104
I'm not in favor of adding one more setting, so I only added “…” near reply header that allow to show / hide text of original message.
Text is shown by default. Maybe could we link this to the "compose on top" setting : hiding message when user chose to compose on top, showing it otherwise ?

[2015-01-15 09:51] aenario commented on #104
"we link this to the "compose on top" setting : hiding message when user chose to compose on top, showing it otherwise"

+1

[2015-01-15 13:45] aenario opened #108 "Gmail Security message bug"
"assurez-vous d'être connecté avec le compte [object Object] "

[2015-01-15 14:24] aenario opened #109 "The flag //Recent is not handled"
How to handle :
- store the flag Recent when downloading mail
- dont synchronize flag removal from IMAP
- remove flag in cozy when any action is done on the box (background)

[2015-01-15 14:27] aenario opened #110 "Unread count in tab title"
Would be cool to have a total unread-count in the <title> tag so we can see it from the tabbar

[2015-01-15 15:39] clochix commented on #99
Here's how to use TinyMCE (loaded from a CDN) : add an external addon named tinymceeditor with the url https://raw.githubusercontent.com/clochix/cozy-addons/gh-pages/tinymce/init.js

[2015-01-16 08:11] aenario opened #111 "Report connection error"
If the user credentials stop working (changed password, disable access for less secure app on gmail, ect ...), an error is not displayed to the user.

[2015-01-17 11:44] clochix commented on #111
There's a linked problem : due to the use of `asyncSeries`, when there's a problem refreshing one account, it stop the refresh process and other accounts are not updated. Should I open another issue for this ?

[2015-01-19 12:31] clochix commented on #101
Next release will add a download link to every attachment.
How would you like to “download all” to be ? A link ? A menu item ?

Saving attachments into Files is in our Todo list. (also, allowing to attach file from Files to new email)

[2015-01-19 12:35] clochix commented on #93
@aenario is there already some server-side code to do this ?
@frankrousseau any suggestion about the UI ? An icon inside the menu ? A button in account config ?

[2015-01-20 10:18] clochix commented on #84
I added Advanced SMTP parameters, that allow:
 - to select authentication method. It's useful when using a local SMTP server that don't require auth;
 - to use another login / password for SMTP server.

Dou you think I should do the same for IMAP ? Imho, the main login / password of the account should be enough to connect to IMAP server.

(the code will be on next merge)

[2015-01-20 11:28] frankrousseau commented on #84
I think we should do it when an user will ask it. We should not add too much features too early.

[2015-01-20 12:38] frankrousseau commented on #108
What is the way to reproduce it?

[2015-01-20 12:47] aenario commented on #108
Try to setup a new account with a gmail address.
The message should be "assurez-vous d'être connecté avec le compte xxxxx@gmail.com" instead of "[Object object]

[2015-01-20 12:49] aenario commented on #108
(inside the gmail security warning)

[2015-01-20 13:57] frankrousseau commented on #108
Ok it works fine. Thx to both of you!

[2015-01-20 13:57] #108 closed

[2015-01-21 10:11] goofy-bz commented on #101
Nice, thanks, code warriors

I would say a button with a dropdown "Download all attachments / Save all attachments to my cozyfiles" would be great

[2015-01-23 11:07] frankrousseau commented on #105
Looks good!

[2015-01-23 11:07] #105 closed

[2015-01-23 11:09] frankrousseau commented on #104
Looks good.

[2015-01-23 11:09] #104 closed

[2015-01-23 11:10] frankrousseau commented on #97
Looks good.

[2015-01-23 11:10] #97 closed

[2015-01-23 11:12] frankrousseau commented on #96
How can I test? I mean when notification occurs. I checked the notifications in the settings screen. But I don't know when it should be displayed.

[2015-01-23 11:12] frankrousseau commented on #98
Looks good.

[2015-01-23 11:13] #98 closed

[2015-01-23 11:13] frankrousseau commented on #92
What do you mean by special mailboxes?

[2015-01-23 11:14] aenario commented on #96
Notifications are based on the \\Recent flags, so this feature is not actually working until https://github.com/cozy/cozy-emails/issues/109 is handled.

[2015-01-23 11:16] frankrousseau commented on #87
Looks good.

[2015-01-23 11:16] #87 closed

[2015-01-23 11:17] frankrousseau commented on #79
It looks to work but it doesn't display the previous email when the user clicks on the '...' button.

[2015-01-23 11:19] frankrousseau commented on #64
Looks good.

[2015-01-23 11:19] #64 closed

[2015-01-23 11:21] frankrousseau commented on #99
The medium editor matches better my need but there is a display bug with the cursor when the message is empty (when the app focus on the textarea compose field).

[2015-01-23 11:24] frankrousseau commented on #43
It works well in top mode. But it doesn't work in bottom mode. Should we remove the bottom mode?

[2015-01-23 11:24] frankrousseau commented on #96
ok

[2015-01-23 11:30] frankrousseau commented on #88
Looks good.

[2015-01-23 11:30] #88 closed

[2015-01-23 11:33] frankrousseau commented on #67
Looks good.

[2015-01-23 11:33] #67 closed

[2015-01-23 13:03] clochix commented on #92
Special mailboxes are "Draft", "Sent" and "Trash". If the user try to display message list without having a trash folder, he will be redirected to account config (because without Trash, deletion won't work).

[2015-01-23 13:08] clochix opened #113 "Allow to have multiple identities"
Some popular email client allow to select sender before sending a message (having multiple identifies on one account).
This would be nice to have.

[2015-01-23 13:13] clochix opened #114 "Allow to sort message list"
Some work has already be done, allowing to sort messages on sender and date. To cleanup the UI, it's currently hidden under a hidden pref. What should we do?

[2015-01-23 13:14] clochix opened #115 "Allow to filter messages on flags"
Some work has already be done, allowing to filter messages to only display unread or flagged ones. To cleanup the UI, it's currently hidden under a hidden pref. What should we do?

[2015-01-23 13:16] clochix opened #116 "Allow to filter messages on subject"
Some work has already be done, allowing to filter message on their subject. To cleanup the UI, it's currently hidden under a hidden pref. What should we do?

[2015-01-23 19:16] clochix commented on #66
@frankrousseau any news on this ? I can't reproduce. could you open the JS console and see if you get an error ?

[2015-01-24 14:06] frankrousseau commented on #66
Looks good. If found another bug. I will open an issue about it later (when you refresh the app when a draft is displayed you lose the body of the draft).

Thank you!

[2015-01-24 14:06] #66 closed

[2015-01-26 08:45] poupotte commented on #53
It seems ok for me. It works for you @frankrousseau ?

[2015-01-26 08:51] poupotte commented on #43
It's same for me, bottom mode doesn't work (top mode works).

[2015-01-26 09:17] clochix commented on #43
This is a dramatic regression, I'm working on it, it's the main feature a decent email client should provide.

[2015-01-26 09:22] clochix opened #118 "Problem displaying attachment of new message"
@goofy-bz reported he had problem displaying attachment of a message he just received. Reloading the page made the bug disappear.
I was able to reproduce the issue once.

[2015-01-26 09:24] clochix opened #119 "Problem replying inside a message"
@goofy-bz reported he was unable to add text inside original message when replying to a message. Adding new lines keep the blockquote. This is a regression.

[2015-01-26 09:46] poupotte commented on #92
I can't test because I already configured my draft and I can't undefined it.

[2015-01-26 09:59] poupotte opened #120 "Have one slider by mailbox in default menu."
When I display all folders in my first mailbox, I have to slide all folders to access to my next mailbox. It should be nice to have my other mailbox after the slider.

![menu](https://cloud.githubusercontent.com/assets/2659119/5897928/3a9d4800-a54a-11e4-840d-cdb4efd59f66.png)

In picture, I can't access to my 'Perso' mailbox without slide all folders.

[2015-01-26 10:10] jsilvestre opened #121 "Performance issues"
We talked about the laggy feel we have when we use the application. Here are some ideas to fix it the right way.

1. Measure: what takes times, what doesn't
2. Prioritize: Pareto has an awesome rule for that (80/20)
3. Measure
4. Repeat

I suggest to tackle those areas:
* how much time does React spend in rendering for nothing (data has not changed)?
* how much time does React spend actually rende

[2015-01-26 10:14] jsilvestre commented on #121
## How to measure?
* http://facebook.github.io/react/docs/perf.html
* we could give https://github.com/paulirish/automated-chrome-profiling#readme a try
* I don't know if something like:
[code]
Can be relevant.

[2015-01-26 11:51] frankrousseau opened #122 "Remove animations when displaying a message"
When I click on a message to read it, I don't have a consistent behavior on the way it is displayed. Sometimes, it slides from the right sometimes, it just changes the message.

I will try to explain it better later. I open the issue to initiate the conversation about this.

[2015-01-26 12:02] frankrousseau opened #123 "Message deletion leads to an error"
When I delete several messages simultaneously, it leads to that error on the server side:

[code]

[2015-01-26 12:35] clochix commented on #122
I'm aware of this behavior, and know the reasoning behind it (when the right pan isn't shown, it slides on open. Then, messages are just updated inside the pane).

I would suggest removing the sliding effect to be more consistent.

@jsilvestre, any objection?

[2015-01-26 12:41] clochix commented on #120
I currently have 4 accounts defined. Making them fixed so they are always displayed wouldn't let much vertical space to display mailboxes.
I personally use the 3 panes view, menu items are smaller and I can see all my accounts.

[2015-01-26 12:43] clochix commented on #92
You can test by manually updating the account in CouchDB.
But the client will now do its best to detect “special” folders, so it may be difficult to unset them.

[2015-01-26 13:57] frankrousseau commented on #53
I found another bug. When you click in a name of the dropdown, nothing happens.

[2015-01-26 13:59] poupotte commented on #42
Maybe, we can add an 'help' in configuration with a list of keyboard shortcut.

[2015-01-26 14:04] poupotte commented on #95
It works for me. @gabeos, it ok for you ?

[2015-01-26 14:07] poupotte commented on #76
With new conversation management, I can't reproduce this issue.  @frankrousseau , it is ok for you ?

[2015-01-26 14:11] poupotte commented on #77
When I try to delete a conversation, I see it in INBOX and in trash folder.

[2015-01-26 14:24] poupotte opened #124 "Travis tests don't work"

[2015-01-26 14:27] poupotte commented on #80
It seems work. @goofy-bz, it's ok for you ?

[2015-01-26 15:44] poupotte commented on #119
I can't reproduce this issue.

[2015-01-26 16:19] poupotte opened #125 "Display date of last mailbox refresh"

[2015-01-26 16:20] poupotte opened #126 "Test search in mailbox"

[2015-01-26 16:20] poupotte opened #127 "Move messages between accounts"

[2015-01-26 16:21] poupotte opened #128 "Quick filter"
Allow to quickly filter messages on flags, subject, users

[2015-01-26 16:21] poupotte opened #129 "Managing email attachments in Files"
Similar to Filelink in Thunderbird: allow the user to choose if attachments should be put inside the message or shared on Files

[2015-01-26 16:22] poupotte opened #130 "Changing email list -> read an email behaviour when composing a new email"
As a user,
When I'm composing a new email and that I open a new email from the list
Then I want it to be open in the place of the list

[2015-01-26 16:22] poupotte opened #131 "Improving the Data System to reuse SMTP accounts from Emails app"
Authentication could be a nice load of work (there are various authentication workflows)

[2015-01-26 16:30] poupotte opened #132 "Refactoring mass deletion"
Client should send only one request to delete several mails.

[2015-01-26 16:31] poupotte commented on #89
It's ok for client side (only one confirmation dialog and faster deletion). I add an other issue (https://github.com/cozy/cozy-emails/issues/132) to refactoring mass deletion with server-side.

[2015-01-26 16:31] #89 closed

[2015-01-26 18:34] goofy-bz commented on #80
Yes the message is now self-removing. Good job done, thx.

[2015-01-26 18:34] #80 closed

[2015-01-26 18:40] frankrousseau commented on #76
Same as you.

[2015-01-26 18:40] #76 closed

[2015-01-27 02:53] gabeos commented on #95
yup, works for me now as well. thanks!

[2015-01-27 07:21] #95 closed

[2015-01-27 12:05] poupotte commented on #123
This issue is probably a duplicate of #77

[2015-01-27 15:12] clochix opened #133 "Remove my own address when replying to all"
When I reply to a message, don't put my address into To or Cc fields

[2015-01-28 13:52] clochix commented on #42
This is not really related to keyboard shortcuts, there's now a layout setting in configuration, allowing to choose a three panes layout.

[2015-01-29 15:28] clochix commented on #118
This one was hard to reproduce and investigate. It's related to the realtime update. When we sent a message over sockets, we forgot to convert it to client format, so some data was missing, like the URLs of the attachments.

So, when you open a new message, we send a request to update the Seen flag. Once the request is over we store the updated message on client side. But we receive next a realtim

[2015-01-29 15:29] clochix commented on #122
Ping @frankrousseau, what about removing the sliding effect when opening the right panel?

[2015-01-29 15:33] frankrousseau commented on #122
Yes remove it! Common operation like opening an email should be as fast as possible.

[2015-01-30 15:09] poupotte commented on #93
It works well but I think it lacks of user information. Indeed, I click on icon to empty my trash, then I confirm and nothing. After about 30 seconds my mails are well removed. A spinner or an other indication to inform user would be nice.

[2015-01-30 15:14] poupotte commented on #133
It seems good for me

[2015-01-30 15:17] poupotte commented on #43
It works for me.

[2015-01-30 15:26] poupotte commented on #92
Thanks @clochix, it works well.

[2015-01-30 15:28] poupotte commented on #119
@goofy-bz, we have published a new version, I've you still this problem ?

[2015-01-30 15:32] poupotte commented on #53
@frankroussea, we have published a new version, it is ok for you ?

[2015-01-30 15:41] #124 closed

[2015-01-30 16:04] poupotte commented on #42
I think, we can close this issue, the menu items horizontal works well and we have, now, enough documentation to use this option. Are you ok @frankrousseau ?

[2015-01-30 16:11] poupotte commented on #118
@clochix  I tried to reproduce this issue with your protocol. When I mark read my mail, I receive an error. I have this message in my console :
[code]

[2015-01-30 16:38] goofy-bz commented on #119
I have updated my cozymail and just made a series of tests with reply-to reply-all and fwd
1. Yes the problem still occurs :s
2. But *not always*: some messages make it impossible to write outside of the "quote" blue bar (even when hitting the RETURN key fiercely), some messages are just as easy to reply-to as expected, pressing return key once is enough to write outside quoted text.
3. I suppose

[2015-01-30 16:43] poupotte opened #134 "Problem to mark unread a specific email"
I try to unread a message (with an attachment and open) and I receive an error. I have this message in my console :
[code]
According to @clochix , NONJUNK tag, it is a tag added by thunderbird.

P.S. : Mark unread other mails works.

[2015-01-30 16:58] clochix commented on #134
AFAIK, JUNK and NONJUNK are flags used by Thunderbird (among others) but not supported by every email server.
When TB thinks a message is spam, it adds the Junk flag. If the user marks the message as not spam, TB then use the NoJunk flag to remember user's decision.
I checked and OVH server doesn't seem to support both of this flags.

[2015-01-31 08:23] clochix opened #135 "[Feature request] Allow to interact with my Calendar"
When I receive an invitation for an event, I want to be able to add it to my Cozy Calendar

[2015-01-31 08:25] clochix opened #136 "[Feature request] Offline mode"
I want to be able to use the application on my smartphone, even when I'm offline : read and interact with the messages.

[2015-01-31 17:24] clochix commented on #119
In fact, we have fixed the bug on master branch but not updated the version, so the update isn't available yet. Sorry.

[2015-01-31 17:27] clochix opened #137 "Navigate to previous / next message is broken when displaying conversations"
When displaying conversations, the navigation is broken, it navigates to previous / next conversation, not previous / next messages inside conversation.

[2015-02-01 21:59] frankrousseau commented on #53
That bug was fixed but I found two other bugs.

* When you start typing, it shows the whole contact list.
* Style hover of the highlighted contact make text unreadable.

[2015-02-01 22:00] frankrousseau commented on #42
I can't see any documentation about that.

[2015-02-02 07:56] poupotte opened #138 "Add tooltips for action button"

[2015-02-02 07:59] poupotte opened #139 "Allow to choose number of mails by pages"

[2015-02-02 08:05] poupotte opened #140 "In mail edition, display kown contacts as label."

[2015-02-02 08:07] poupotte opened #141 "Allow to add signature for emails"

[2015-02-02 08:09] poupotte opened #142 "Close mail when I click (again) on menu"

[2015-02-02 08:10] poupotte opened #143 "Doesn't display contact information for me."

[2015-02-02 08:11] poupotte opened #144 "Improve displaying of contact information."

[2015-02-02 08:18] poupotte opened #145 "Contact pop up is opened too quickly and doesn't disappear."
From https://forum.cozy.io/t/experience-utilisateur-avec-cozymail-en-vue-conversation/240, contact displaying should be improved by open it only on user click.

[2015-02-02 08:22] poupotte opened #146 "Improve conversation displaying"
From https://forum.cozy.io/t/experience-utilisateur-avec-cozymail-en-vue-conversation/240, @goofy-bz describes example where conversation displaying should be improved.

[2015-02-02 08:27] #133 closed

[2015-02-02 08:29] #92 closed

[2015-02-02 09:19] frankrousseau commented on #43
Yes it works, but it still requires improvement to be useable: the cursor is displayed at the bottom of the page, it makes it hard to find.  Two suggestions to fix that problem:

* The compose area should not be so big (I mean it get as long as the answered email is, with long mails it make the area really too big).
* The automatic scroll should be performed on it instead on the main window.

[2015-02-02 10:18] clochix opened #147 "Error displaying quotation in messages"
See message sent by @jsilvestre « Re: [team] fichiers et activités toile » on 2015-02-02 10:56

The quoting of Frank's answer is wrong, in HTML and in Text mode.

[2015-02-02 10:19] jsilvestre commented on #147
For the record, it has been sent from Roundcube.

[2015-02-02 10:29] clochix commented on #147
Roundcube ? Why are you still using it ? :p
I checked message source and it's well formatted, something goes wrong with the regular expressions I use to add some color to the message.

[2015-02-02 10:30] jsilvestre commented on #147
Because I can't see which messages are read or unread in our app...

[2015-02-02 10:35] clochix commented on #147
Could you open an issue with a screenshot ?

[2015-02-02 10:38] clochix commented on #53
@frankrousseau: are you sure it shows the whole contact list, and not only your contacts matching what you typed ?
It should only display the whole contact list when you click on the search icon with an empty field.

[2015-02-02 10:41] aenario commented on #134
This is a server-side problem and is due to the distinction between server-supported flags and user-custom keywords.

It should have been fixed by https://github.com/cozy/cozy-emails/commit/0f2a802174970b4186656b584a0e80153924813e , It is probably an error with the patch handling code.  @poupotte , if you can reproduce easily, could you get the request body ?

[2015-02-02 10:48] jsilvestre opened #148 "Unread messages are not different than read messages"
There might be something wrong with the font or something. See the screenshot attached.
![unreademails](https://cloud.githubusercontent.com/assets/568111/5999325/0a8a9fb4-aad1-11e4-8ee3-b28b1555074e.png)
The first message on the screenshot should be marked as unread.

It occurs both in threaded and mode and un-threaded mode, in Chrome ~~and Firefox~~.

[2015-02-02 11:17] clochix commented on #93
Expunging may take a long time server side, so I now assume everything works and remove all messages from display immediately. If expunge fails, the list will be refreshed.

[2015-02-02 16:25] poupotte commented on #134
Request body :
[code]

[2015-02-02 17:35] frankrousseau commented on #53
It shouldn't display anything when you type one or two letters. It displays to many contacts. That makes things confusing.

Another style issue: the default avatar is not well centered (horizontally and vertically).

[2015-02-02 21:33] clochix commented on #148
@jsilvestre could you check if message in list has the `unseen` class ? Font weight should be bold…

[2015-02-02 21:49] clochix commented on #145
I updated the rule so contact popup only opens when hovering the contact for more than 5 seconds, or on click.

[2015-02-02 21:54] clochix commented on #42
@frankrousseau what kind of documentation would you like ?

[2015-02-03 07:42] jsilvestre commented on #148
I do have the `unseen` class, and the dev console tells me it should be bold.

[2015-02-03 09:58] clochix commented on #148
The font we use in Cozy, Signika-light, has no "bold" style. Most browsers do some magic to simulate bold, but not Chrome on Mac OS. So unread messages are indistinguishable from read ones in Chrome.
For now, I will update the unread style, but we need to fix this font issue, because Signika-light is widely used on Cozy.

[2015-02-03 11:55] poupotte commented on #139
Useless with infinite scroll.

[2015-02-03 11:55] #139 closed

[2015-02-03 12:25] poupotte opened #149 "Improve spinner"
I suggest to use cozy-mobile spinner   https://github.com/poupotte/cozy-files-mobile/blob/master/www-src/app/assets/img/spinner.svg for email application.

[2015-02-03 15:14] aenario opened #150 "While creating a gmail account Hide/Show advanced parameters are reversed"
![example](https://cloud.githubusercontent.com/assets/1580287/6023158/aec7a544-abc2-11e4-9aac-fe1bc7b38620.jpg)

[2015-02-03 15:24] frankrousseau commented on #148
Are you sure it isn't Signika?

[2015-02-03 15:26] frankrousseau commented on #42
I finally found the `atl+w` command. The left column seems super-large to me. But it looks to work.

I think the settings screen should display much more information about different settings. We could add something about shortcuts.

The colon settings doesn't seem to work when you use the shortcut.

[2015-02-03 22:07] clochix commented on #119
@goofy-bz you should now be able to update the app and give it a try.

[2015-02-04 15:55] poupotte opened #151 "Problems with some links"
If I have a link in my mails like `www.cozy.io`, when I click on it, application redirects me to `https://<name>.cozycloud.cc/apps/emails/cozy.io` instead of `cozy.io`.
It works well if my link is like `http://cozy.io`

[2015-02-04 16:43] clochix opened #152 "Add help to settings panel"
Describe what every option does.

[2015-02-04 16:44] clochix commented on #42
You can select the three columns layout in Settings, without keyboard shortcut. I agree we should display more information on settings, I created #152 for this purpose.

[2015-02-04 16:56] frankrousseau commented on #42
OK let's close that one.

[2015-02-04 16:56] #42 closed

[2015-02-04 17:01] clochix commented on #150
Labels were reversed in english locale

[2015-02-05 10:44] clochix opened #153 "Actions on selected messages in conversation view"
When I view message list in conversation mode, action on selected messages should apply to the whole conversation. Currently they only apply to the first message.

[2015-02-05 11:06] clochix commented on #118
You should be able to test once #134 is fixed.

[2015-02-05 11:09] clochix commented on #111
@poupotte I think we could close this one and open another issue for the above bug: when there's a problem refreshing an account (server temporally unavailable), refresh won't update next accounts.

[2015-02-05 11:12] clochix commented on #84
@poupotte STMP advanced parameters have been added some times ago, and we won't add IMAP advanced parameters for now, so could we close this one ?

[2015-02-05 11:15] poupotte opened #154 "Account refreshing"
When there's a problem refreshing an account (server temporally unavailable), refresh won't update next accounts.

[2015-02-05 11:16] poupotte commented on #111
Yes, sure. I added issue #154 .

[2015-02-05 11:16] #111 closed

[2015-02-06 08:35] poupotte commented on #151
It works well. Thanks.

It will be available for **version 0.6.8**.

[2015-02-06 08:35] #151 closed

[2015-02-06 08:42] poupotte commented on #53
Autocomplete starts after 3 characters and default avatar is, now, centered. Thus, it seems well for me.
It is ok for you @frankrousseau ?

This improvement should be available in **version 0.6.8**

[2015-02-06 09:21] clochix commented on #68
There's a big need of better document settings. This one may be related to #152

Do you have any idea on how to improve discoverability of this features ?

[2015-02-06 09:23] clochix commented on #47
@frankrousseau could you describe what you would like to see in extended headers ?

[2015-02-06 09:23] poupotte commented on #79
It seems good. Thanks @clochix. It is ok for you @frankrousseau ?

It should be available in **version 0.6.8**

[2015-02-06 09:25] poupotte commented on #93
Nice, it's good for me. Thanks @clochix .

It will be available in **version 0.6.8**

[2015-02-06 09:25] #93 closed

[2015-02-06 09:25] clochix commented on #73
@frankrousseau any news ?

[2015-02-06 09:27] poupotte commented on #150
It works well. Thanks @clochix .
@aenario , it is ok for you ?

It wiil be available in **version 0.6.8**

[2015-02-06 09:33] poupotte commented on #145
Thanks @clochix . It's better like that. @goofy-bz, it is ok for you ?

It will be available in **version 0.6.8**

[2015-02-06 09:37] clochix commented on #146
@goofy-bz some fixes will be available in *version 0.6.8* that improve navigation inside conversations: you can use the arrows inside message toolbar, or keyboard shortcuts: up and down arrows, or, for Vi lovers, j and k. It's only a workaround, but I hope it could improve your user experience.

[2015-02-06 09:45] poupotte commented on #122
Message displaying is better without animations. Thanks @clochix .

it will be available in ** version 0.6.8 **

[2015-02-06 09:56] poupotte opened #157 "Problem to reply to an email"
For several mails, I can't reply it. Indeed, when I click to reply, application display correct page to compose my mail but after about one second, it switch to the mail.

I think there is a conflict with marking read. Indeed, when I have this problem, mail is marked read and just after (when it switch), it is marked unread.

[2015-02-06 09:57] aenario commented on #150
Yes

[2015-02-06 09:57] poupotte commented on #43
Thanks @clochix,  it works well.
It's ok for you @frankrousseau ?

It will be available in **version 0.6.8**

[2015-02-06 10:05] poupotte opened #158 "Improve compose area"
When I reply to a mail (top mode), content of previous mail are cut on the middle of the first line.

![reply](https://cloud.githubusercontent.com/assets/2659119/6077510/fcb65ba4-adef-11e4-9053-5df2d84a61b6.png)

[2015-02-06 10:15] poupotte commented on #148
I can't test because I havn't Mac OS, @jsilvestre can you test this issue please ?

[2015-02-06 10:17] poupotte opened #159 "Improve font"
Personnaly, I prefer font used before #148, I think we have find a better font. What do you think about that ?

[2015-02-06 10:22] jsilvestre commented on #148
Thank you very much, I can know see a difference \o/

[2015-02-06 10:24] #148 closed

[2015-02-06 10:30] poupotte commented on #137
It doesn't work well. Indeed, on some conversations, I block on it.

Moreover, I'm not sure about what behavior navigation should have. @clochix, @frankrousseau, @jsilvestre, @aenario, what do you think ? It's better to navigate to previous/next conversation (Gmail-like) or to navigate to previous/next message (Thunderbird-like in conversation mode).
Personnaly, I prefer navigate to previous/next

[2015-02-06 10:33] #150 closed

[2015-02-06 10:44] poupotte opened #160 "Message deletion doesn't work"
Message deletion seems broken. When I click to delete a message, I don't received error (interface or console) but my message isn't removed.

Moreover, confirmation pop up is quite weird :
![remove](https://cloud.githubusercontent.com/assets/2659119/6078055/6717cb4a-adf5-11e4-942c-11ef08b07c51.png)

[2015-02-06 10:44] aenario commented on #137
+1 on Gmail-like.

[2015-02-06 10:47] poupotte opened #161 "Options to disable deleting confirmation doesn't work"
Even if I unchek option 'Confirm before deleting a message', pop up is displayed.

[2015-02-06 11:14] poupotte opened #162 "Problem to read mail"
Sometimes, when I read a long mail, application regularly back to the top of mail. Thus, it's very difficult to read my mail.

Surely a duplication of #157 .

[2015-02-06 12:05] clochix commented on #159
@frankrousseau in #148, I added Signika-Bold for bold, to fix the problem with Chrome on MacOS, and replaced Signika-Light by Signika-Regular for normal text. But I agree with @poupotte and preferred Signika-Light. “it was better before”. What do you think ?

[2015-02-06 12:09] clochix commented on #137
For the record, when you don't display conversations in message list, you navigate inside messages from the message list. when you fold conversations in message list, you navigate into messages inside the conversation. I did this because of #146 : @goofy-bz has hard time navigating inside a huge conversation.

[2015-02-06 15:13] clochix opened #164 "Undelete messages is broken"

[2015-02-06 15:36] frankrousseau commented on #73
Not let's close it until we have more information.

[2015-02-06 15:37] #73 closed

[2015-02-06 15:39] poupotte commented on #134
Reopen due to #163.

[2015-02-06 15:39] poupotte commented on #154
Reopen it due to #163.

[2015-02-06 15:42] frankrousseau commented on #159
I think you should not use Signika. We changed to Source Sans specially for this kind of problem. So use source-sans-pro font. You can find it in the other apps. You can find the bold version on the Adobe dedicated website?

[2015-02-06 15:46] frankrousseau commented on #43
Yes it's a lot better. Thank you all.

[2015-02-06 15:46] #43 closed

[2015-02-06 15:48] frankrousseau commented on #122
The animation is still there.

[2015-02-06 15:55] frankrousseau commented on #47
I put it as a reminder. I didn't think about it well. I will come back to you later about that.

[2015-02-06 15:57] frankrousseau commented on #53
It's ok for the next version. But now I have one bug and one suggestion:

Bug: When I enter a contact in my phone. His name is not displayed in the autocomplete menu.

Enhancement: When I add a contact it should add a removable line above. In the current situtation, when you enter more than two emails, it's almost unreadable.

[2015-02-06 18:20] #137 closed

[2015-02-06 18:22] poupotte commented on #161
It works well. Thanks @clochix.

[2015-02-06 18:22] #161 closed

[2015-02-06 18:25] poupotte commented on #158
It works well. Thanks @clochix.

[2015-02-06 18:25] #158 closed

[2015-02-07 09:10] clochix commented on #53
FTR, we don't query the Contact DB when calling the atocomplete, it would take to long. All contacts are loaded on page load, so if you add a contact, you need to reload the email app to make it available.

For your enhancement request, is it related to #140 ?

I suggest we close this issue, now open for almost 2 months, and open new ones with your features requests.

[2015-02-07 14:12] frankrousseau commented on #53
Ok. Thank you for that big feature!

[2015-02-07 14:12] #53 closed

[2015-02-09 07:40] poupotte commented on #145
I close this issue. I'll reopen it if someone is not ok.

[2015-02-09 07:40] #145 closed

[2015-02-09 07:50] poupotte commented on #160
Pop up problem is fixed for me. However, I still can't remove my mail. @aenario, @frankrousseau can you test with your cozy to know if it is specific to me.

[2015-02-09 08:22] poupotte commented on #144
Duplication of #49

[2015-02-09 08:22] #144 closed

[2015-02-09 08:25] frankrousseau commented on #160
Yes, message deletion is broken too.

[2015-02-09 08:32] poupotte opened #166 "Add keyboard shortcuts to navigate inside a conversation"

[2015-02-09 08:33] poupotte commented on #146
After discussion we have decided to keep navigate to previous/next conversation (instead of message). Later, we want to add other keyboard shortcuts to navigate in previous/next message inside a conversation. That's why I close this issue and open an other about navigation inside a conversation (#166) .

[2015-02-09 08:33] #146 closed

[2015-02-09 08:57] poupotte commented on #160
Actually none deletion works on conversation mode but it works in other mode. Maybe, this issue is a duplication of #77.

[2015-02-09 10:44] poupotte opened #167 "Improve contacts displaying in mail edition"
If I add lots of contacts when I compose an email, new contacts should be displayed in a new line.

[2015-02-09 10:53] poupotte opened #168 "Improve newline in mail edition"
In mail edition, a first newline should be a newline instead of a paragraph separation.

In others words :
   * A newline should display a little space between lines
   * Two newlines corresponds to a paragraph separation (bigger space)

[2015-02-09 10:59] poupotte opened #169 "Mark mails as read often fails"

[2015-02-09 11:36] frankrousseau commented on #168
You can take Thunderbird as a reference.

[2015-02-09 12:34] poupotte commented on #169
I'm not sure but it seems occur only on conversation mode

[2015-02-09 14:28] poupotte opened #171 "Allow to filter messages on subject"

[2015-02-09 14:29] poupotte commented on #128
Duplication of #115, #116 and #171

[2015-02-09 14:29] #128 closed

[2015-02-09 14:38] poupotte commented on #46
@frankrousseau, this issue is old. What information message do you talk about ? It's still relevant ?

[2015-02-09 15:02] poupotte commented on #129
Duplication of #101

[2015-02-09 15:02] #129 closed

[2015-02-09 16:24] frankrousseau commented on #46
Yes it is information message are ugly specially the gradient used as background.

[2015-02-09 22:33] clochix opened #172 "Error displaying body of PGP encrypted message"
I got a message with a PGP encrypted body. So it has no plain text nor html part.
The text content of the message is "undefined".

[2015-02-09 23:32] frankrousseau commented on #79
That's ok. Thank you!

[2015-02-09 23:32] #79 closed

[2015-02-10 07:45] jsilvestre opened #173 "Removing "add contact tooltip" in the message list"
When I click on a message in the message list, it sometimes open the contact tooltip, and it's annoying.

[2015-02-10 08:04] poupotte commented on #173
Thanks for your report.

Actually, to open the contact tooltip, you have two choices :
   * Click on contact name (in mail or message list)
   * Stay 5 seconds on the contact name (mail or message list)

Maybe, to avoid your inconvenience, we could display contact tooltip only on mail (not in message list). Thus, contact tooltip should be less anoying but to add a contact, you should open mail.

W

[2015-02-10 08:18] jsilvestre commented on #173
We talked about it yesterday, and I suggested him what you just suggested. @clochix told me he had a fix on the way and needed an issue.

[2015-02-10 08:25] poupotte commented on #122
Yes, it stay a little animation during mail openning for the first time, I didn't see it.

[2015-02-10 08:31] jsilvestre commented on #122
I have found references to the opening animations in the code:
* https://github.com/cozy/cozy-emails/blob/master/client/app/styles/_layout.styl#L93-L104
* https://github.com/cozy/cozy-emails/blob/master/client/app/styles/_message-list.styl#L13-L15
* https://github.com/cozy/cozy-emails/blob/master/client/app/styles/_compose.styl#L9-L11

[2015-02-10 08:37] poupotte commented on #68
I close this issue, missing documentation is in issue #152.

[2015-02-10 08:37] #68 closed

[2015-02-10 09:43] clochix commented on #122
Thanks a lot @jsilvestre, I forgot to remove this one.
I agree with you, I don't see any difference.
I just committed, the removal, will be in my next PR.

[2015-02-10 09:49] clochix opened #174 "Closing a message navigate to the wrong mailbox"
When I close a message hitting Esc, I'm redirected to the first mailbox of the first account.

(opening this issue took longer than fixing ;-) )

[2015-02-10 10:27] clochix commented on #168
http://www.w3.org/TR/2011/WD-html5-20110525/editing.html#contenteditable-br “UAs should offer a way for the user to request an explicit line break at the caret position without breaking the paragraph, e.g. as the default action of a keydown event whose identifier is the "Enter" key and that has a shift modifier set.”

[2015-02-10 11:18] frankrousseau commented on #122
@clochix Do not forget to not make too big PR.

[2015-02-10 12:57] jsilvestre commented on #121
# Use case: opening an email
## What is measured
* go to / (default mailbox)
* open an email

## Results

### All lifecycle time
![read_emails_inclusive](https://cloud.githubusercontent.com/assets/568111/6124878/6ff105b4-b111-11e4-9ac8-509bac4e9ed6.png)

### Wasted time
![read_emails_wasted](https://cloud.githubusercontent.com/assets/568111/6124880/75bbebee-b111-11e4-969b-fe2168016c7a.png)

Measur

[2015-02-10 13:59] jsilvestre opened #175 "Infinite scrolling is broken"
* When I try to load more messages by scrolling down, I see a spinner.
* Then I have "load more message" button, but nothing more.
* If click the button, more messages are loaded.
* Then the infinite scrolling works again.

[2015-02-10 16:20] clochix commented on #175
I think this only happens when the "load more" button is visible before you scroll, I have a fix.

[2015-02-12 14:30] poupotte commented on #174
It works well, thanks @clochix

[2015-02-12 14:30] #174 closed

[2015-02-12 14:34] poupotte commented on #175
It seems work, @jsilvestre, it is ok for you ?

[2015-02-12 14:42] poupotte commented on #166
It works weel and it was added in keyboard shortcuts help. Nice job :)

[2015-02-12 14:42] #166 closed

[2015-02-12 14:43] poupotte opened #180 "Keyboard shortcuts help"
With new version, the panel for keyboard shortcuts is weird with Firefox (ok with Chrome) :

![shortcuts_helping](https://cloud.githubusercontent.com/assets/2659119/6169443/cb5c5daa-b2cd-11e4-8582-399db100bc0e.png)

[2015-02-12 15:02] poupotte commented on #173
Thanks @clochix, contact tooltip is well removed from messages list. However, now, to add contact we have to unfold headers in mail. In other words, we can add contact in picture 2 but not in picture 1. In my mind, we shouldn't be able to add contact in message list but we should in mail (contact unfold or not).

**Picture 1:**
![contact_1](https://cloud.githubusercontent.com/assets/2659119/616970

[2015-02-12 15:35] frankrousseau commented on #175
It works for me.

[2015-02-13 07:33] jsilvestre commented on #175
It works for me too!

[2015-02-13 08:17] #175 closed

[2015-02-13 15:15] poupotte commented on #77
It works fine with #181

[2015-02-13 15:15] poupotte commented on #160
It works weel with #181

[2015-02-13 18:18] frankrousseau commented on #168
I think there is a misunderstanding. I'm not challenging the behavior of content editable widget, I'm just asking for a proper user experience for the email composition.

The user is used to email composers proposed by Gmail and Thunderbird. Because it's the norm form most people and, by the way, a pretty good one (the same used by desktop text editors), I think we should use it in the Cozy Mails

[2015-02-16 16:40] jsilvestre commented on #121
I did the improvement in my previous comment, and noticed the new bottleneck was the Conversation/Message components. They both have shouldComponentUpdate, so I digged further.

It appears that disabling HTML view in the options improves the performance a lot.
See with HTML disabled:
![no_html](https://cloud.githubusercontent.com/assets/568111/6215514/9e111bd8-b601-11e4-9190-7e7e7f0abc20.png)

Wit

[2015-02-17 08:34] clochix commented on #166
@goofy-bz In da nxt release of Mail app, you should be able to navigate inside a conversation whith the left and right arrow of your keyboard.
Please let us know how we could improve this.

[2015-02-17 09:04] clochix commented on #180
I'm unable to reproduce, could you give me your advanced font setting so I try to reproduce and fix in every browsers ?

[2015-02-17 09:19] poupotte commented on #180
I use Firefox 35.0.1 on Ubuntu 14.04 without specific font settings.

[2015-02-17 10:03] jsilvestre opened #183 "Remove progress bars during refresh"
@frankrousseau and I discussed the fact that the orange progress bars are misleading for the users during the refresh operation.

I am going to remove them, and use spinner.svg to discreetly mark something is running in the background.

Let me know if you disagree / want something else.

[2015-02-17 10:05] jsilvestre opened #184 ""Selected email" indicator never disappears"
The blue background in the message list, indicating the message is selected, is always visible even if the message is not open. I always wonder wether it's a bug or a wanted behaviour.

[2015-02-17 10:08] clochix commented on #121
I agree that message manipulation should be done only once and server-side.
The response embedding algorithm is pretty buggy for now (see #147), so I would suggest to perform it server side but not save it so we can fix it (or save it to another field, like prettified_html)

[2015-02-17 10:08] poupotte commented on #183
Thanks @jsilvestre  for this suggestion, I'm ok  with you.

[2015-02-17 10:13] clochix commented on #184
It's a wanted behavior, for keyboard navigation. So you can navigate with keyboard shortcuts, opening and closing message at will.

[2015-02-17 10:31] jsilvestre commented on #184
Thank you, I understand better. I'll look for a way to improve my bad feeling about this if other people complain.

[2015-02-17 10:31] #184 closed

[2015-02-17 11:32] clochix commented on #167
Should I remove the button on the left than trigger autocomplete ? I would prefer keeping it, but don't know what to do when the input field grows.

[2015-02-17 12:11] poupotte commented on #167
After discussion with @clochix, we decided to separate button and input to keep button (without resize) when we add a line for contacts.

[2015-02-17 14:41] clochix opened #185 "Unable to type a contact name with a space in it"
Every time I hit the “space” key, the space char is suppressed.

[2015-02-18 07:21] poupotte commented on #160
Thanks @clochix

[2015-02-18 07:21] #160 closed

[2015-02-18 07:22] poupotte commented on #77
Thanks @aenario

[2015-02-18 07:22] #77 closed

[2015-02-18 07:25] poupotte opened #187 "Remove message/conversation"
When I remove a message or a conversation, it takes long time.
It is possible to add a spinner to inform user or to  remove message in client before server (and reput it if there was a problem) ?

[2015-02-18 07:27] poupotte opened #188 "Problem with infinite scroll"
Remove a message/conversation breaks infinite scroll.
It just displays : 'This is the end of the road'.

[2015-02-18 07:29] poupotte commented on #134
It works well, thanks @aenario

[2015-02-18 07:29] #134 closed

[2015-02-18 07:49] poupotte opened #189 "I can't see my mail attachments"
When I click to display a mail attachment, I receive in an other browser window :

[code]

[2015-02-18 07:49] poupotte commented on #118
I try to reproduce your test but I can't access to my attachments. I open an issue (#189) for that.

[2015-02-18 07:51] poupotte commented on #154
I can't reproduce this bug so I close this issue. If someone have this problem, don't hesitate to reopen it.

[2015-02-18 07:51] #154 closed

[2015-02-18 08:00] poupotte commented on #122
Effectively,  animations still exists but they're fast and if you don't know where they come from, I'm not sure is in our priority. I propose to put this issue in our backlog (not again in our next sprint). What do you think @frankrousseau ?

[2015-02-18 08:06] poupotte commented on #164
It doesn't seem work for me. When I delete a message (in conversation without message confirmation). If a enter Ctrl-Z, I receive a message : 'Undo not available'. None error in my console.
Moreover, I haven't the pop up to undelete, Is it desired ?

[2015-02-18 08:18] poupotte opened #190 "Messages should have same size selected or not"
When I select a message, every messages take more space (due to checkbox selection).
Thus, if I select a message far on my list, message down, this behaviour is weird.

In my mind, messages should have same size selected or not.

[2015-02-18 08:22] poupotte opened #191 "Message selection : action button should be always visible."
In my mind, in message selection, button (move, delete, ...) should be always visible.
Indeed, currently, if I select a message far on my list, I have to scroll to the top to click on button.

[2015-02-18 08:38] poupotte commented on #172
I can't test this issue. I close it, if someone has this problem, he can reopen it.

[2015-02-18 08:38] #172 closed

[2015-02-18 09:02] clochix commented on #172
FTR, here's the original message body. We could probably improve the way we handle this content-type by displaying “This is an OpenPGP/MIME encrypted message” as the message body.

[code]

[2015-02-18 10:09] frankrousseau commented on #122
Ok.

[2015-02-18 10:45] poupotte commented on #164
Actually, I tested with trash in messages list.
With trash in message, it works.
Thus, this issue works and my problem is related to #153 .
Thanks @clochix .

[2015-02-18 10:45] #164 closed

[2015-02-18 11:15] poupotte commented on #183
It works well, thanks @jsilvestre . It will be even better with new spinner :) !

[2015-02-18 11:15] #183 closed

[2015-02-18 11:16] jsilvestre commented on #183
I was not sure to add the new spinner in place of the existing button, that's why I didn't add it...

[2015-02-18 11:19] poupotte commented on #189
Morever with my new mail, I don't receive attachments : mail appears without attachment.

[2015-02-18 12:13] clochix commented on #153
Also, allow to undelete a conversation, see #164

[2015-02-18 12:38] frankrousseau commented on #183
What did you do finally? From what I read, there is more progress bar and you finally drop the idea to use a spinner.

[2015-02-18 12:39] jsilvestre commented on #183
I removed the progress bar during refresh, and messed up my commit description (noticed it when it was merged). I didn't add the spinner, I used .fa-spin on the refresh icon instead, that looked more logical to me.

[2015-02-18 12:45] frankrousseau commented on #183
Ok. It makes things clearer. About the spinner, we want to use the same spinner in every place. That why we shouldn't use the Font awesome spinner.

[2015-02-18 12:57] frankrousseau commented on #183
The progress bar is still displayed on subfolders.

[2015-02-18 13:02] jsilvestre commented on #183
I don't use the font awesome spinner, .fa-spin makes spin whatever icon there is. It's the refresh icon that spins. That seemed more logical in the current UI, thus I agree that it's not coherent with other Cozy applications. Do you want me to the Cozy spinner anyway?

About the progressbar for subfolder, I will have a look.

[2015-02-18 13:07] frankrousseau commented on #183
Yes, I think the Cozy spinner is better.

[2015-02-18 13:10] jsilvestre commented on #183
Let's do it then.

[2015-02-18 13:41] poupotte commented on #189
It works well. Thanks @aenario .

[2015-02-18 13:41] #189 closed

[2015-02-18 15:07] clochix commented on #119
@goofy-bz any news ?

[2015-02-18 15:28] jsilvestre opened #194 "Selected message indicator moves during refresh"
When I refresh my account, if there are new emails, they are added on top of the previous one (logical). But the selected message indicator (blue background) stays on the email it was before the refresh, and doesn't stay on the first message of the list.

I don't know what should be the exact behaviour, though.

[2015-02-18 16:23] goofy-bz commented on #119
I thinks there remain various strange behaviours.
0. sometimes striking the ENTER key brings a line break as expected and I can write outside quote block
0.1 In this case I notice there are two or three line breaks when just one is enough for my usage.
0.2 cursor position to allow me to write anything sometimes jump down the quote block instead of breaking the line at the wanted location

1. On mo

[2015-02-18 16:45] clochix commented on #194
Imagine you're reading a message when a new one comes. I think you don't want the new message to be automatically opened. So not updating current selected message when new ones come seems legit. IMHO.

[2015-02-18 16:49] jsilvestre commented on #194
You are absolutely right if the user is reading a message. My remark was for the case no message is open.

[2015-02-19 08:21] jsilvestre commented on #60
I +1 this issue, that's something import for me as a user.

[2015-02-19 10:08] clochix commented on #180
I had hard time reproducing it, so I blindly tried something, tell me if it works better.

[2015-02-19 10:14] clochix commented on #190
It may depend on some browser font setting, because on my computer I only noticed a very small move, even when selecting a message deep in the list. I hope this fix will work for you.

[2015-02-19 10:16] clochix commented on #191
I played a bit with this yesterday, but am not very satisfied by the result. We may revert this and try to find a better way to handle this.

[2015-02-19 10:18] frankrousseau commented on #180
It works for me.

[2015-02-19 10:21] poupotte opened #195 "Mailbox refresh"
Automatic mailbox refresh doesn't seem work.

Two examples :
   * If you don't connect you to your cozy during one day, when you come back, you haven't new mail (even if you wait). Email should be refresh when application is restarted.
   * If you force email to don't stop, mails don't seem automatically refresh.

In my mind, we have to refresh automatically mails when app starts and every x minut

[2015-02-19 10:29] poupotte commented on #140
Contacts labels are nice but when we write to enter a new contact, labels switch.

[2015-02-19 10:35] poupotte commented on #140
Moreover, I think, we can put all contacts (known and unknown) as label to have a similarity between all (maybe, you can use adress mail as label).

[2015-02-19 10:39] poupotte commented on #167
It works well for label and input. Thanks @clochix .

[2015-02-19 10:46] poupotte commented on #173
It works well. Thanks @clochix . @jsilvestre , it's ok for you ?

[2015-02-19 10:47] poupotte commented on #180
Nice, it works. Good job @clochix :)

[2015-02-19 10:47] #180 closed

[2015-02-19 10:49] poupotte commented on #118
It seems work with your test. Thanks @clochix .

[2015-02-19 10:51] jsilvestre commented on #173
Perfect !

[2015-02-19 11:00] frankrousseau commented on #167
Don't push it in published until the new version is created.

[2015-02-19 12:10] poupotte commented on #190
There is no more move but now contact icon are too large :

![list](https://cloud.githubusercontent.com/assets/2659119/6266336/8d4f6d52-b838-11e4-81f0-1879b923b2ba.png)

[2015-02-19 12:31] poupotte commented on #185
I can hit a space in contact name but if I add a character after, it removes autocompletion. Is it wanted ?

[2015-02-19 12:33] #173 closed

[2015-02-19 12:44] poupotte commented on #191
Mmmm... personnally I like it except two things :
  * '...' are displayed with buttons (for contacts or body message)
  * button background is smaller than messages list width. Thus, message color are displayed on right.

![button_list](https://cloud.githubusercontent.com/assets/2659119/6266667/c07d7f12-b83c-11e4-8015-5c00821db3d5.png)

[2015-02-19 13:48] clochix commented on #168
I checked in various email clients :
 - Thunderbird seems to only use <BR>. Hitting Return two times inserts two BR, no new paragraph;
 - in Gmail, return seems to insert BR and a new paragraph. Paragraphs have no top nor bottom margin, so BR, DIV and P use the same space. There's no special behavior when hitting Return two times. So I think I will only remove margins from DIV and BR, to behave li

[2015-02-19 14:17] frankrousseau commented on #168
Ok

[2015-02-19 16:34] clochix commented on #185
The autocompletion filters on the exact string you entered. Are there results matching what you enter ? I'm able to type “Jean de la” and the autocompletion suggest “Jean de la Fontaine”

[2015-02-20 10:28] clochix commented on #99
We could also use http://kazhack.org/contentEditable to improve our native editor component.

[2015-02-20 12:28] clochix commented on #190
Avatars should be fixed now

[2015-02-20 12:29] clochix commented on #140
Fixed label switch, using label for all contacts is still a WIP, sorry ☹

[2015-02-20 12:33] clochix commented on #191
That's why I'm not comfortable with my hack. Sometime the menu is to small, sometime it's to wide and hover the scrollbar. Depends on the layout and probably the navigator. So it may work but it's not very strong. We should find a better way to do this.
Nevertheless, the last commit fixes the bug with "…".

[2015-02-20 12:35] poupotte commented on #190
Nice, it works well. Thans @clochix.

[2015-02-20 12:35] #190 closed

[2015-02-20 12:38] poupotte opened #198 "Use label for all contacts in mail edition"

[2015-02-20 12:43] poupotte commented on #191
Ok, it works for me. I keep this issue opened as reminder.

[2015-02-20 12:49] poupotte commented on #185
For me, if I enter 'Jean' or 'Jean ', it suggests 'Jean de la Fonctaine' but if I enter 'Jean d' it removes autocompletion suggestion.

[2015-02-20 12:56] poupotte commented on #140
I add an specific issue for contacts label (#198).

For labels switching, when i write labels seem still switch (but quickly and keeping the order)

[2015-02-20 13:17] clochix commented on #185
Funny one, works for "jean " and "jean de" but not "jean d". Anyway, fixed it.

[2015-02-20 13:40] clochix commented on #191
It's broken on small screens ☹

[2015-02-23 14:00] poupotte commented on #191
Yes, it's broken on small screens and I find a problem with error displaying (see image).  Maybe, we have to revert this change and keep it for later.

![error](https://cloud.githubusercontent.com/assets/2659119/6328963/b0aa5082-bb6c-11e4-85ff-516673644c34.png)

[2015-02-23 14:14] frankrousseau commented on #191
+1 for revert

[2015-02-23 14:30] poupotte commented on #168
Is it ok for you @frankrousseau with the new version ?

[2015-02-23 14:39] frankrousseau commented on #168
On the composer side yes. But not on the receiver side. The mail received in Thunderbird, didn't match what I typed in Cozy Emails.

[2015-02-23 14:43] poupotte opened #199 "Do HTML render in server side"
In the same time, we can correct issue #147 .

[2015-02-23 14:54] poupotte opened #200 "Improve newline when send mail"
In mail mail reading, newlines are displayed as new paragraph.

Example :
1 - **Mail edition**
![paragraphe_1](https://cloud.githubusercontent.com/assets/2659119/6329825/09cc475e-bb74-11e4-8cdc-14ec51731fc1.png)

2 - **Mail reading**
![paragraphe_2](https://cloud.githubusercontent.com/assets/2659119/6329834/15451fb6-bb74-11e4-81f2-fd2c261635a8.png)

[2015-02-23 15:02] poupotte commented on #200
Currently mail is bad displayed in others clients (like Thunderbird or Gmail). Thus, problem isn't in mail displaying but when we send mail.

[2015-02-23 15:04] poupotte commented on #168
Ok, thanks @frankrousseau . There is an other issue about this problem #200. That's why I validate this issue.

[2015-02-23 15:04] #168 closed

[2015-02-23 15:11] #118 closed

[2015-02-23 15:11] #167 closed

[2015-02-23 16:14] poupotte opened #201 "Remove settings panel"
From @frankrousseau, to facilitate our application, we have to temporary remove settings panel.

I propose to keep as default options :
**Settings**:
* Display layout: vertical
* Message list style: normal
* Display conversation: true
* Rich message editor: true
* Rely on top of message: false
* Display message in HTML: true
* Display images inside messages: false
* Confirm before deleting a messa

[2015-02-24 08:36] aenario commented on #199
Should we do it on import (more disk space) or for each request ?

[2015-02-24 11:21] clochix commented on #199
This is a performance improvement suggested by @jsilvestre.

For now, the algorithm used to format HTML content is buggy (see #147), so it's probably better to do this on every request.
But it has been removed from this week sprint, so we have time to think about it.

[2015-02-24 11:23] clochix commented on #201
What shall we do for current users that have set settings different from this default ones ?

[2015-02-24 11:29] poupotte commented on #201
We force default settings (in hard coding) :/ .
It's rought but if we don't do that, it is useless to remove settings pannel.

[2015-02-24 12:05] frankrousseau commented on #201
For the layout I suggest the vertical one with small labels in the menu.

[2015-02-25 08:39] clochix commented on #201
@frankrousseau for now you have to choose between Three panes layout, which has small boxes labels, and Vertical layout, with big labels.

[2015-02-25 09:22] frankrousseau commented on #201
I like the the Three panels layout, which has small boxes labels. It lacks of a big button to check your inbox but the overall is clearer. If you prefer the Vertical one, it's ok too.

[2015-02-25 18:19] clochix opened #203 "Drag'n'drop conversations doesn't work"
Moving conversation by drag and dropping them doesn't work.

[2015-02-25 18:19] clochix opened #204 "Moving conversations from message list doesn't work"

[2015-02-25 20:11] clochix opened #205 "Allow to undo conversation deletion"

[2015-02-25 22:55] frankrousseau commented on #201
You should implement that early in the sprint. It will help to focus.

[2015-02-26 12:49] clochix commented on #200
HTML formatting depends on the rich text editor we use. Some people are not comfortable with `medium-editor` and we have discussed replacing it by a more classic one like CKEditor. Should we keep medium-editor or choose another one ?

[2015-02-26 12:56] frankrousseau commented on #200
We keep medium editor.

[2015-03-03 14:55] poupotte commented on #201
In new version, settings pannel is well removed. Thanks @clochix.

[2015-03-03 14:55] #201 closed

[2015-03-03 14:59] poupotte commented on #198
Thanks @clochix , I've no more problems with contacts labels.

[2015-03-03 14:59] #198 closed

[2015-03-03 14:59] godfoder opened #206 "Can't use emails with smtp server on alternate port"
Trying out the version in NPM as of 10 minutes ago, I could not get emails to add an account with an smtp server running on port 587 (w/STARTTLS) it seemed to just overwrite the port number every time I tried to change it.

[2015-03-03 15:10] poupotte commented on #140
Nice, thanks @clochix.

[2015-03-03 15:10] #140 closed

[2015-03-03 15:12] clochix commented on #206
Thanks @godfoder for reporting, I can confirm the issue.

[2015-03-03 15:14] poupotte commented on #185
Thanks @clochix, now, I can easily send mail to 'jean de la fontaine' ;).

[2015-03-03 15:14] #185 closed

[2015-03-03 15:23] poupotte commented on #200
Lines are well displayed in Cozy and Gmail but there is still an issue with Thunderbird (I havn't tested on other clients) :

![paragraphe_3](https://cloud.githubusercontent.com/assets/2659119/6465458/906bab44-c1c1-11e4-8e5c-16678b9893cb.png)

[2015-03-03 15:26] frankrousseau commented on #198
For information, it works well on my Cozy but the performances are poo, it takes like 20s to display the label.

[2015-03-03 15:27] frankrousseau commented on #200
For information, it works well on my thunderbird.

[2015-03-03 15:32] poupotte commented on #204
It seems work for me. Thanks @clochix .

[2015-03-03 15:32] #204 closed

[2015-03-03 15:35] poupotte commented on #200
Ok, I retried with my Thunderbird and it works.

The first time I sent the mail an my personnal box, then I did a copy/paste of content on a new mail to send on my professional box. Thus, maybe, the problem comes from the copy/paste.
I close this issue and if I can reproduce my first issue, I'll open an new issue about copy/paste (or an other thing).

[2015-03-03 15:35] #200 closed

[2015-03-03 15:41] poupotte commented on #198
Actually, it seems create label when you wait several seconds or when you enter a ',' . @clochix, Am I wrong ?

[2015-03-03 15:49] clochix commented on #200
Yes, the issue arise when pasting.
I hacked medium editor so every time you hit enter, it add a `br` instead of embedding current text inside a paragraph tag.
But when you paste content, it's not cleaned.

[2015-03-03 15:51] clochix commented on #198
By bad, the contact should become a tag when you enter ',' or leave the field (we should probably add an helper).

[2015-03-03 15:57] frankrousseau commented on #200
Yes copy paste with line breaks doesn't work well.

[2015-03-03 15:59] poupotte opened #207 "Copy/paste content with lines breaks in mail edition doesn't work well"

[2015-03-04 09:35] clochix commented on #206
This bug is hard to reproduce. The account creation screen is randomly refreshed, probably due to some background update. It seems to only happen just after the server was started. Here's a patch that should fix this. It will be available in our next release, probably next week.
As a workaround, before this release, you may try to wait a few minutes after server start before trying to create the a

[2015-03-04 12:14] #159 closed

[2015-03-04 17:00] clochix opened #209 "Improve mailbox refresh"
In #195, we added a feature to check all accounts for new messages every few minutes.

Some IMAP servers allows a better mechanism. We could use this to trigger a refresh when we detect a new message is added to INBOX. Unfortunately, this seems to only allow to watch one box per connection, so it's not a perfect solution.

See https://github.com/chirag04/mail-listener2/blob/master/index.js#L62 for

[2015-03-06 09:07] clochix commented on #195
This is a first step: we refresh the favorites mailboxes of every account every 5 minutes.
Listening for new messages in mailboxes is a little bit harder, so I opened #209 to improve the refresh.

Also, please be aware that there's two types of refreshes:
 - full refresh: scan every message of every mailbox of every account. It may take quite a long time for "big" mailboxes, so it's only performed

[2015-03-06 09:10] clochix opened #210 "Allow to register Mail app as a handler for mailto: links"
As a user, when I click a `mailto` link, I want to be able to open my Cozy Mail.
Also, if the link contains recipients, subject, body… the compose form should be pre-filled.

[2015-03-06 14:54] poupotte commented on #195
Refresh box seems ok, thanks @clochix .

[2015-03-06 14:54] #195 closed

[2015-03-06 14:57] poupotte commented on #206
@godfoder , you'll publish a new version today. Your issue should be solved.

[2015-03-06 23:08] clochix opened #211 "Empty message for some event invites"
When sending an invite from Mozilla Thunderbird Lightning in "Outlook compatibility mode", the message contains no body nor attachment.
We should display a default text to the user instead of an empty message.

[2015-03-07 16:24] clochix opened #212 "Error displaying an attachment with spaces in the name"
It just crashes the server, don't know if the problem is in Mails or CozyDB.

[2015-03-09 09:19] clochix commented on #188
Sorry, I thought I commented on this one some days ago ☹
I haven't fixed it yet because I'm unable to reproduce it. I tried the step to reproduce you described to me, but it works on my machine, and looking at the code, I wasn't able to guess what could possibly go wrong. It's probably obvious, but I don't get it.

[2015-03-09 21:25] runvnc opened #213 "cozy-light port?"
Is it going to be possible to  port cozy-emails over to cozy-light?

[2015-03-09 22:20] frankrousseau commented on #213
It already exists. The version is not up to date but it's working:

https://github.com/cozy-labs/emails

You can install it via the following command:

    cozy-light install cozy-labs/emails

[2015-03-10 03:21] runvnc commented on #213
Oh, duh.  Thanks!

[2015-03-10 03:21] #213 closed

[2015-03-10 22:36] clochix commented on #188
STR: only happened in conversation mode when deleting a conversation by selecting it in message list.

[2015-03-11 14:07] clochix commented on #169
f5dadc4 may have fixed this one.

[2015-03-11 23:30] sylzys opened #215 "Nothing happens when refreshing if login/pass is incorrect"
If your login, or more often your password becomes incorrect after a successful configuration, nothing seems to happen when you try to synchronize the mailbox.
-> A click on the refresh icons launches nothing visually (the spinner is not showing) and no error message is displayed.

If you come back to the mailbox config, the errors on address / password are well highlighted.

After you change your

[2015-03-15 08:36] clochix opened #216 "Add an “archive” special box"
This article has some nice tips : http://dylan.tweney.com/2015/03/14/tldr-your-emails-are-too-long/
One of them is an easy way to move a message to GMail's archive mailbox. We could offer user to define such a box, and action icon / keyboard shortcut to move current message into archive folder if it's defined.

[2015-03-16 07:56] poupotte commented on #188
It works well for me. Thanks @clochix .

[2015-03-16 07:56] #188 closed

[2015-03-16 07:59] poupotte commented on #157
Seems good, thanks @clochix .

[2015-03-16 07:59] #157 closed

[2015-03-16 08:10] poupotte commented on #211
To test this issue, I sent me an empty mail.

When I read it on application, I have an empty message instead of  a default text :
![empty_mail](https://cloud.githubusercontent.com/assets/2659119/6662456/2353aade-cbbc-11e4-9018-7f9ea5bb02bb.png)

[2015-03-16 08:12] poupotte commented on #121
Performances are better.
However, I keep this issue opened to have a note for next improvements.

[2015-03-16 08:27] aenario opened #217 "Support Gmail OAUTH"
Ref : https://support.google.com/accounts/answer/6009563

The solution we have now of displaying a message is but a bandaid.
The proper solution is to actually support OAUTH.

[2015-03-16 09:00] clochix opened #218 "Add online help"
Some users have hard time configuring a Gmail account (cf https://forum.cozy.io/t/impossible-dajouter-un-compte-gmail/357/6 ) We should find a way to display more help / a FAQ.

[2015-03-16 09:17] poupotte commented on #211
After discussion with @clochix , my test was inappropriate.
Indeed, if someone send an empty message, it ordinary to dislay nothing in content message.

I'll test this specific use case.

[2015-03-16 09:22] aenario commented on #218
The Gmail doc at https://support.google.com/accounts/answer/6009563 is pretty clear & complete and automatically translated depending on Gmail's user language. I believe the "not compatible with Gmail security norm" is sufficiently objective to not scare users from cozy-emails.

I dont think we can do better, so we might as well link to it. (The imap error we receive from Gmail actually includes a

[2015-03-16 09:25] aenario commented on #216
Note for this : Gmail actually has a "All Mail" and "Inbox" folder. The archive folder you describe would be [All Mail] - [Inbox]. Quite a bit of work.

[2015-03-16 09:29] clochix commented on #216
In fact, I think this is a very specific need for people using GTD like methods. It would probably be nice to add it as a plugin.

[2015-03-16 09:40] clochix commented on #218
Yes, for this specific case, a link to Gmail's doc would do the trick. But I think this isn't the only point where users may need some help, so imho we should think of a way to display inline help.

[2015-03-16 09:48] poupotte commented on #211
Thanks @clochix , it works for me.

[2015-03-16 09:48] #211 closed

[2015-03-16 10:58] clochix commented on #153
Delete and undelete of conversation should now work better.

[2015-03-16 14:48] clochix commented on #199
I'm digging into this one, and am hesitating :
 - doing the pre-processing on each request will be a waste of resources on server side, because, for example, each time the user request messages from one mailbox, we'll need to process tens of messages, most of whose will never be displayed ;
 - doing the pre-processing only once and saving the result into DB will use more disk space and we'll need

[2015-03-16 15:13] frankrousseau commented on #199
Another way to improve the rendering is to use a default navigator font instead of changing for Source Sans each time.
But I think display performances are ok now and that we should not spend too much time it and focus on bugs and UX.

[2015-03-16 16:43] clochix commented on #119
@goofy-bz Having a new look at this issue, I found that "Message contains bare newlines" is another error, that seems to not be related to this one. It means that your IMAP server is strict on message format, and we try to save a badly formatted draft.

Have you seen the error recently ?

(FTR, every line of the message *must* end with CRLF, if one is missing, some servers will throw an error)

[2015-03-16 17:41] frankrousseau commented on #119
I have the same problem. I can't remove the answer sideline when I reply in a middle of a message sometimes. Moreover the recipient see tabulations instead of ">" as sidelines.

[2015-03-16 21:29] goofy-bz commented on #119
Here is a screenshot with a Reply-to mail (same prob not hit yet with Forward-to mails)

https://framapic.org/Q3q8lXRHsdWk/qd88lM0P

[sidenote : the image upload system on this very comment is a bit failing for me, I cannot send a <100 Ko image without the moron pretending it must be smaller than 10MB]

[2015-03-17 12:08] poupotte commented on #153
Mmmmm it seems work but I've some strange behaviors.

I suppose, application deletes message one by one.
Thus, if I received mails between two messages of a conversation, when I delete this conversation, I see my conversation move in my message list.

I think, this problem will be solved with #132.  For now, maybe, delete messages from older solves this behavior.

[2015-03-17 12:18] frankrousseau commented on #153
Sometimes it crashes my application too. I remove the 5 first selected messages. Then it gets stuck.

[2015-03-19 09:37] clochix opened #219 "Deleting non contiguous messages opens other messages."
See https://forum.cozy.io/t/app-emails/369/6

When the user select 2 non contiguous messages and delete them, the application open the messages in between.

[2015-03-19 20:22] clochix opened #220 "Allow to really delete message instead of moving to trash"
Asked by a user, see https://forum.cozy.io/t/app-emails/369/8
I think we could add a keyboard shortcut like Shift-Suppr to delete instead of moving to trash.

[2015-03-22 09:40] clochix opened #223 "Allow to choose display order of mailboxes"
Asked by a user, see https://forum.cozy.io/t/propositions-dameliorations-emails/402

[2015-03-23 08:12] poupotte commented on #169
Seems work. Thanks @clochix

[2015-03-23 08:24] #162 closed

[2015-03-23 08:24] #169 closed

[2015-03-23 08:48] poupotte opened #224 "Improv server error displaying"

[2015-03-23 09:12] clochix commented on #224
I already did a little patch in d2443f6.
@aenario how do you think we could improve the debug of connection problems ?

[2015-03-23 14:08] clochix commented on #206
@godfoder Have you found time to test if it now works for you ?

[2015-03-23 14:10] clochix commented on #205
Probably a duplicate of #153 / #164, should have been fixed in b26e749

[2015-03-23 14:13] clochix commented on #187
I now delete message on client side without waiting for server response, see #153 / #219 / c7e1084

[2015-03-23 14:16] clochix commented on #143
First step in e66461d (only in message list), is it enough ?

[2015-03-23 14:18] bnjbvr opened #225 "Idea: set a reminder on an email"
It's neat to be able to set an email aside by putting a reminder on it.

For instance: you select an email from your Inbox folder, you set a reminder on it to March 31st; it disappears from the Inbox folder, getting into a "Waiting" folder (or any other that we can decide on). On March 31st, it reappears in Inbox.

Bonus point if the reminder is set in the cozy-calendar!

Nice for people implement

[2015-03-23 14:25] bnjbvr opened #226 "[GAF] Spinner be spinnin'"
On Miss Bnjbvr's cozy instance, there are 2 mailboxes: one Gmail account and one Hotmail account. When starting the app, the "sync" button is off and there's a spinner instead, spinning all the time, it appears.

I've tried restarting the app, force-reloading the client, it is still spinning.

Logs show IMAP REFRESH actions for a while (nothing weird), but after some point, nothing shows up anymor

[2015-03-23 14:50] aenario commented on #123
link #132

[2015-03-24 14:44] clochix opened #228 "Add a message when deleting a conversation already in trash"

[2015-03-24 14:51] frankrousseau commented on #143
On the right side of the screen, when a conversation is displayed, there is list of message represented by the list of person who are involved in this conversation. Each line should only display the sender of the message instead of the whole list each time.

[2015-03-24 15:21] poupotte commented on #187
It works well, thanks @clochix .

[2015-03-24 15:23] poupotte opened #229 "Remove message with trash in mail content seems broken."
If I try to remove only one message in a conversation (with trash in right), I receive this error:
[code]

[2015-03-24 15:30] poupotte commented on #205
Thanks @clochix . Undo conversation deletion seems work well :)

[2015-03-24 16:44] m4dz commented on #143
I take it as it rely on the view improvements suggested in the message / conversation rendering :wink:.

[2015-03-24 16:51] poupotte commented on #153
It works for me. Thanks @clochix .

[2015-03-24 17:06] poupotte opened #230 "Can't navigate in message list after a message deletion with keyboard"

[2015-03-24 17:06] poupotte commented on #219
It works well. However, I'm not there is a link. But, now when i remove a message with keyboard, I can navigate in my message list after. I opened an issue about that : #230

[2015-03-24 17:18] poupotte commented on #203
It works well for me, thanks @clochix

[2015-03-24 17:18] #219 closed

[2015-03-24 17:18] #187 closed

[2015-03-24 17:18] #153 closed

[2015-03-25 10:18] #203 closed

[2015-03-25 10:19] #205 closed

[2015-03-25 10:41] clochix commented on #229
I'm unable to reproduce, could you paste the error in the logs of the server ?

[2015-03-25 14:04] frankrousseau commented on #229
I had an error message too last time I deleted several messages. But I didn't save the content.

[2015-03-25 14:32] clochix opened #231 "Display messages forwarded as attachments"
Some MUA forward messages as an attached .elm file.
We should extract its content to display it.

[2015-03-25 14:35] frankrousseau commented on #231
:_( Writing a good email client requires a lot of work.

[2015-03-25 20:41] ZeHiro opened #232 "Add 2 different fields for login and address"
In version 0.6.9 of email app, there is only one field for login and adress. The problem is the following :
- when filling adress with login@domain.tld, the connection to the imap/smtp server is not possible if the login is not the full adress
- when removing the @domain.tld, IMAP/SMTP servers are not filled automatically, and it is not possible to send an email, as there is no valid adress specif

[2015-03-26 07:18] jsilvestre opened #233 "Improve loading indicator"
After investigating https://github.com/cozy/cozy-emails/issues/226, I realize the issue was the user thinks there is a bug because the spinner spins for a very long time. We should re-think that.

[2015-03-26 07:18] jsilvestre commented on #226
So apparently this bug is not a bug, as you confirmed it just takes a very long time. I opened a new issue (https://github.com/cozy/cozy-emails/issues/233) to improve the loading indicator, and will close this one if it's okay with you.

[2015-03-26 08:15] jsilvestre commented on #224
What is this issue about: making server's logs clearer or forwarding more information to the client?

[2015-03-26 08:20] aenario commented on #224
@clochix, I think we ought to have a "details" link in case of error with the last few log info & the original error.

[2015-03-26 08:27] jsilvestre commented on #233
I would add that there is more than just the spinner spinning: when a user triggers the refresh, it takes a short time before the spinner starts spinning. This gives an impression of slowness in the UI.

It is even worse if there is an error, because it's longer, because it must wait for the imap connection to timeout, which is very disturbing for the user.

[2015-03-26 09:25] jsilvestre commented on #224
After a short discussion on IRC: there are three subjects tightly coupled with each other, but still different.
* improve logs on the server
* forwarding errors to the user
* showing the errors to the user

# Improve logs on the server
For the first subject, there are already tons of logs. I think @aenario is the best person to say "this one is useful, this one is not" and "this is one is not, is

[2015-03-26 10:11] aenario commented on #224
**Regarding logs :**
I am not sure if we need to reduce it. They are very convenient to track down errors with the "Report to cozy" screen because JS stacks are not always helpful. Note that DBUG logs are not shown / stored in production.

**Regarding error handling :**
I think we ought to keep it simple : when an error is raised, store as much information in it as we can (Type, stack, last logs,

[2015-03-26 10:12] aenario commented on #224
Regarding #215, isn't it just that the account_refresh reporter gets an error, but is it not sent / displayed tot the client ?

[2015-03-26 10:13] jsilvestre commented on #224
#215 is already fixed (it was just that, yet), but I figured that the topic was bigger than that, because for instance, refresh errors are not forwarded to the client if it happens in the background...

[2015-03-26 14:20] poupotte opened #235 "Keyboard navigation in message list seems broken"
Sometimes, line selected doesn't correspond to mail opened.

[2015-03-26 14:29] poupotte opened #236 "Remove toastr to indicate that draft is saved."
When I compose an email,  'Message saved' are regularly displayed. Button 'save' should be indicate this information :

* `Save` can become `Saved`
* Button `Save` can displayed as `Cancel` button and can be blue or grey if draft is saved or not.

[2015-03-26 14:53] aenario opened #238 "Improve the please contribute modal"
- It lacks the main information :  There was an error.
- "contribute" only makes sense for people involved in open source
- Something about how the debug information will help us to fix the bug
- Something about there should not be any sensitive information in there, but make sure.

[2015-03-26 14:53] #238 closed

[2015-03-26 14:55] aenario commented on #224
I opened another issue, but adding it here now. I think the "Please Contribute" modal is a good tool for the error we dont recognize (include logs). However, it needs some improvements :

- It lacks the main information :  There was an error.
- "contribute" only makes sense for people involved in open source
- Something about how the debug information will help us to fix the bug
- Something about

[2015-03-26 15:03] poupotte opened #239 "Force autocomplete seems broken on Chrome"
When I add contact in mail edition, if I enter two characters and I click on button to force autocompletion, it creates a tag with the two characters.

Works on firefox.

[2015-03-26 15:34] poupotte commented on #215
It doesn't work on my cozy :( .
I changed my Gmail account password. When I try to refresh my mailbox, I have none error displayed.

I haven't error on my javascript console.

[2015-03-26 15:37] clochix commented on #230
Please try to delete / move conversations and see if there's still a selected message after its done.

[2015-03-26 16:01] poupotte opened #240 "Contact application opening is broken"
When I click on contact avatar to access it, it redirect me to `https:/<mycozy>/apps/emails/#apps/contacts/contact/e77d1b40b74b715c05298729d6802994` instead of `https:/<mycozy>/#apps/contacts/contact/e77d1b40b74b715c05298729d6802994`

[2015-03-26 16:20] clochix commented on #239
@frankrousseau removed this button 2 days ago, so there is no more way to force autocompletion.

[2015-03-26 16:29] jsilvestre commented on #215
I didn't build my PR, sorry...

[2015-03-26 19:23] frankrousseau opened #242 "Make text easier to read by putting it at a higher position in the screen"
@clochix mentioned the fact that the text was displayed too far from the top. It made reading experience on small screen bad.

I fixed it in #227

[2015-03-26 19:25] frankrousseau opened #243 "Remove default text when composing a new message"
When a message is written, it puts a default text that is pretty annoying to remove each time.

I fixed it in #227 by removing this default text.

[2015-03-26 19:26] frankrousseau opened #244 "Remove magnifying glass from send field in compose widget"
Magnifying glass was buggy and not consistent with other apps. Moreover it was not useful (autocompletion works on tablets too).

I removed it in #227.

[2015-03-27 08:10] #239 closed

[2015-03-27 14:04] jsilvestre commented on #235
Is there any other information available regarding this issue?

[2015-03-27 14:58] poupotte commented on #244
Magnifying glass is well removed.

[2015-03-27 14:58] #244 closed

[2015-03-27 15:01] poupotte commented on #228
It works well for me. Thanks @clochix

[2015-03-27 15:01] #228 closed

[2015-03-27 15:06] poupotte commented on #243
It's better like that. Thanks @frankrousseau .

[2015-03-27 15:06] #243 closed

[2015-03-27 15:32] poupotte commented on #230
When I delete a message I can navigate in my message list but it breaks the interface :/ :

![interface_cassee](https://cloud.githubusercontent.com/assets/2659119/6870817/be43c2c8-d49e-11e4-8d28-6d6c636a2fa4.png)

[2015-03-27 15:51] poupotte opened #246 "Infinite scroll seems broken"
We have to click on 'More message' button to display next messages.

[2015-03-27 15:51] poupotte commented on #242
For me, text is now too close from the top (just my mind) :
![padding](https://cloud.githubusercontent.com/assets/2659119/6871099/99e5c654-d4a0-11e4-97c8-baf25d0ead88.png)
Maybe, it should be better something between old and new version.

Moreover, infinite scroll seems broken, we have to click on 'More message' button. I'm not sure but it maybe due to this change. I open a new issue for this prob

[2015-03-27 16:04] frankrousseau commented on #242
It's related to @m4dz changes.

[2015-03-27 16:05] frankrousseau commented on #242
I modified only CSS, so the fact that infinite scroll is broken is due to something else.

[2015-03-27 16:20] poupotte opened #247 "Interface broken after a deletion."
When I delete a message in message list, if I navigates in the list it breaks the interface :

![interface_cassee](https://cloud.githubusercontent.com/assets/2659119/6871831/88c7ee7e-d4a5-11e4-95a8-43f9571783c0.png)

[2015-03-27 16:21] poupotte opened #248 "I can't select more than one message in messages list"

[2015-03-28 18:24] AntoineCa opened #249 ""Reply-To" not used when replying"
When a received message contains the PHP ["Reply-To" header](http://php.net/manual/en/function.mail.php#example-3588), the application still responds to the address specified in the "From" header.

[2015-03-29 18:52] clochix commented on #249
I just had a look at this, it seems to be a server-side bug : replyTo field is always empty. Mailparser should return it, but if it doesn't, we must parse `headers` array to get it.

[2015-03-30 08:50] clochix commented on #249
My bad, Mailparser returns the fields, we had a typo in our code that prevented to save it. Should be fixed in next release, thanks @AntoineCa for reporting it ☺

[2015-03-30 09:53] clochix opened #250 "When replying to a message, in-reply-to header is lost"

[2015-03-30 12:54] clochix opened #251 "Allow to open message in select mode"

[2015-03-30 13:46] clochix opened #252 "Allow to compose new message with Ctrl+n"

[2015-03-30 15:11] clochix opened #253 "Allow to drag'n'drop contacts in compose form"

[2015-03-31 12:45] clochix commented on #229
Could you please try to provide some logs next time you face this bug ?

[2015-03-31 13:08] frankrousseau commented on #229
ok

[2015-03-31 14:20] kao98 opened #256 "Email account password encryption"
As I was testing Cozy, I was surprised to see the password for my email account using the `Data Browser` app.

Shouldn't it be encrypted?
Couldn't it be encrypted?

I think the cozy controller should provide a secure encryption method, using the user password maybe, to cozy apps to allow encryption of sensitive data. Maybe something is already planned?

[2015-03-31 14:28] frankrousseau commented on #256
In fact the problem is that the Data Browser has access to the data. Authorized apps are allowed to unencrypt it. The password is properly encrypted in the database, but the app shouldn't display it.

If you have any idea about what we could do to improve this, it would be great.

[2015-03-31 14:41] kao98 commented on #256
Hmm ... that make sense.

Is it possible to authorize only the owner of the data to decrypt it?
I think that's not really compatible with the current architecture of Cozy and the way datas are managed.
But maybe passwords (and all encrypted data) should not be shared between apps and be accessible only by the one that encrypted it?

As a developer I love the way datas are managed / shared.
As a us

[2015-03-31 15:52] frankrousseau commented on #119
I fixed my tabulation problem in this PR https://github.com/cozy/cozy-emails/pull/257

[2015-03-31 17:39] frankrousseau opened #259 "Handle better unknown contacts"
When I write an unknown email into the recipient input key, the enter key doesn't add it to the recipient list.

#258 should fix it.

[2015-03-31 18:26] frankrousseau commented on #149
See PR: https://github.com/cozy/cozy-emails/pull/258

[2015-04-01 06:47] poupotte commented on #215
It works for me. Thanks @jsilvestre .

[2015-04-01 06:48] poupotte commented on #252
It works only on Firefox

[2015-04-01 06:56] poupotte commented on #230
I opened a new issue for the specific problem decribe over it. Thansk @clochix .

[2015-04-01 06:56] #230 closed

[2015-04-01 06:57] poupotte commented on #240
It works well now, thanks @clochix .

[2015-04-01 06:57] #240 closed

[2015-04-01 07:00] poupotte commented on #251
It works well for me. Thanks @clochix .

[2015-04-01 07:00] #251 closed

[2015-04-01 07:04] poupotte commented on #253
It works only on Firefox but is not a high priority task, so it's enough for the moment (except if correct on Chrome it's a detail)

[2015-04-01 07:09] poupotte commented on #248
This issue is fixed.

[2015-04-01 07:09] #248 closed

[2015-04-01 07:11] poupotte commented on #246
Seems work now.

[2015-04-01 07:11] #246 closed

[2015-04-01 07:19] poupotte opened #260 "Improve reply experience"
* Remove empty line at the beginning
* Change displayed date as reply introduction
* Add a style to blockquotes

[2015-04-01 07:23] poupotte commented on #260
It's ok for me. Thanks @frankrousseau

[2015-04-01 07:23] #260 closed

[2015-04-01 07:57] clochix commented on #252
It seems that you can't override some native shortcuts in Chrome. I'm able to override Ctrl-S, but not Ctrl-N. Will be a WONTFIX for me /cc @Benibur

[2015-04-01 08:01] frankrousseau opened #261 "Make proper visual header for forwarded messages"
Hi,
Forwarding message, should automatically add good looking headers like in Thunderbird:

[code]

[2015-04-01 08:02] frankrousseau commented on #260
You're welcome!

[2015-04-01 08:41] poupotte commented on #261
It works well for me. Thanks @frankrousseau .

[2015-04-01 08:41] #261 closed

[2015-04-01 08:46] poupotte commented on #259
When I try to add `test@cozycloud.cc` in the recipient input (unknown contact) : I enter `test`, then when I try to add `@`, application display a pop-up 'The given email is unproperly formatted: test'. I think when I click on `Atl Gr`, application checks user mail so I can't enter user mail.

[2015-04-01 08:57] frankrousseau commented on #259
Ok. What are your distribution and browser ? (It works fine on my computer both in Firefox and Chrome).

[2015-04-01 08:58] poupotte commented on #259
I have Ubuntu 14.04, it works on chrome but not on firefox for me.

[2015-04-01 08:59] frankrousseau commented on #259
What is wrong is that it checks the emails on blurring.

[2015-04-01 13:36] m4dz opened #263 "Ui: Conversation view"
_Note: This issue resume #255_

# Revamp
* Conversation view
    * improve semantics by isolating components in markup (section, article, header, nav…)
    * add a toolbar component that handles _large view_, _prev_/_next_ navigation
    * isolate conversation subject to top header
* Messages stack in conversation
    * messages are now stacked with a compact header (sender infos, date and indicat

[2015-04-01 13:58] m4dz opened #264 "Ui: Layouts"
We need a more robust way to handle panes layouts:
* use flexbox to manage their layout
* keep menu-pane in two-modes: compact and expanded. No need for this pane to be proportionnal
* extract notification container from panes to attach it to `document.body`
* manage RWD with following modes:
    * small screens: menu in a drawer ; list in main view ; conversation view in overlay
    * medium scre

[2015-04-01 14:07] m4dz opened #265 "Ui: Menu view"
Menu view wants to be restyled with:
* do not use a proportional screen width but use only needed-space (see #264)
* change background-color to stick to cozy-apps style (whatever it means :tongue:)
* defines toolbar / subbar:
    * toolbar: new mail / refresh all accounts
    * subbar: add account / settings
* make folders tree more readable (review indents)
* groups important boxes at top
* displ

[2015-04-01 15:01] m4dz opened #266 "Ui: format dates"
Dates in conversation view should be more reliable if they are built with web-components and moment.js to deal with the expected format (hour, day/month, long-format) as well as their localization will be simplified.

[2015-04-01 15:11] poupotte commented on #263
It's very nice :)
Good job, I'm really surprised of result !

Some remarks/questions :
* When a contact hasn't photo (because is unknown for exemple), it's displayed in black instead of blue (in message stack conversation), is it wanted? Maybe it's due to disable of contact tooltip.
* I would add a line 'Move to...' at the beginning of menu (folder button).
* There isn't tooltips on button, it's f

[2015-04-01 15:20] m4dz commented on #263
Thanks a lot!

Yep, that's it. I'll produce quickly the component, probably with @Benibur whose want to contribute to this part.

Good idea, I'll do this.

Of course :stuck_out_tongue_winking_eye:

Yep, I think I'll add a popup like for the _detailled headers_ that'll also list attachment for saving.

@frankrousseau and others also notice the following:
* when collapsing/expand a messages, the mar

[2015-04-01 15:40] clochix opened #268 "Error deleting draft message"
I sometime get an error when deleting with the keyboard a draft message.

[2015-04-01 15:51] frankrousseau commented on #263
when collapsing/expand a message => it bugs and the conversation panel vanished.

[2015-04-01 15:52] frankrousseau commented on #266
moment will be enought. The .format 'lll' function can do the job well.

[2015-04-01 15:53] frankrousseau commented on #265
I add:

* Extract the compose button to put it on top right of the message list.

[2015-04-01 16:02] #242 closed

[2015-04-02 07:07] m4dz commented on #266
Sure, but I think using something like the `<time/>` element (https://github.com/github/time-elements) will be more future-proof due to recent movement to web components (and can be use everywhere on the plateform) :smile:.

[2015-04-02 08:19] clochix commented on #268
Draft messages don't belong to a conversation, so handling them sometime throws an exception. I added some code that should prevent this case.
STR: open a draft message, then delete it from message list. It should just work without displaying an error message.

[2015-04-02 09:10] clochix opened #269 "Error deleting conversation if one message is already in trash"
If one message of the conversation is already in trash folder, an error message prevent from deleting the whole conversation.

[2015-04-02 09:51] clochix opened #271 "Infinite scroll is broken when displaying conversations"
In a mailbox, I have only one conversation, with 5 messages.
The “Load more messages” link is displayed, because it thinks we are only displaying one out five messages.

[2015-04-02 11:43] m4dz opened #273 "Generate thumbnails for attachments"
As viewed in https://github.com/cozy/cozy-emails/pull/270#discussion-diff-27643463R29, we lack of a thumbnail support inside the DS for attached images in emails. We should have it returned in the attachment object so we do not load the whole image just to display it as a thumb in the message footer.

[2015-04-02 12:37] clochix commented on #229
This is related to the way we decide which messages belong to a conversation. I think messages in trash are still displayed inside the conversation. Also, if you go to Trash and select the deleted message, you may see all messages, even those not deleted (not sure).

[2015-04-02 12:51] poupotte commented on #263
It's well for me. Thanks @m4dz :)

[2015-04-02 12:54] poupotte commented on #247
Can't reproduce it with new version. I close this issue, I reopen it if this issue reappears.

[2015-04-02 12:54] #247 closed

[2015-04-02 13:10] poupotte opened #274 "Mark mails as read often fails"
When I navigate in my message list. Mails are well displayed read but often, just after messages are display unread/read/unread.

Most of messages change 2 or 3 times of state. (read -> unread or read -> unread -> read).

[2015-04-02 13:20] poupotte opened #275 "Improve conversation management"
I have some messages which are not range in their conversations.

[2015-04-02 13:46] clochix commented on #271
I made a fix that sums up the number of messages inside each conversation.
It's better, but still false, because if some messages inside the conversation are in other malboxes, the sum will be wrong. We should also compute (server side ?) the number of messages of the conversation that are inside the current mailbox. /ping @aenario

[2015-04-02 13:47] poupotte opened #276 "Remove number displayed over it spinner in infinite scroll."
![spinner_scroll](https://cloud.githubusercontent.com/assets/2659119/6965115/501eb23e-d94f-11e4-8587-d7818417acd9.png)

[2015-04-02 14:26] aenario commented on #271
How about checking for the link : next in the answer instead of counting things ?

[2015-04-02 14:32] #269 closed

[2015-04-02 15:06] poupotte commented on #268
It seems work. Thanks @clochix .

[2015-04-02 15:06] #268 closed

[2015-04-02 15:11] poupotte commented on #194
It works well. Thanks @jsilvestre  :)

[2015-04-02 15:11] #194 closed

[2015-04-02 15:19] poupotte commented on #212
Displaying an attachment with spaces works well but if I download it, name is wrong.
For example, if I try to download 'my super document.txt', my file download is named 'my'. I open a new issue because it is an issue less important.

[2015-04-02 15:19] #212 closed

[2015-04-02 15:21] poupotte opened #277 "Download an attachment with space in name doesn't work well"
For example, if I try to download `my super document.txt`, my downloaded file is named `my`.

[2015-04-02 16:24] m4dz commented on #264
Here is the doc concerning the layouts. The sketches below represent different view modes.

![emails app layouts sketches](http://f.cl.ly/items/3y082l22251A2b072p3s/Image.png)

Basically, it is a composition of two elements: `menu` and `mailbox-zone`. The two can be displayed in different modes:
- menu
    - `expanded=false`: this is a compact mode, with only main icons available
    - `expanded=t

[2015-04-02 18:49] clochix commented on #276
I inadvertently fixed this this afternoon, will be in a commit soon.

[2015-04-02 19:48] frankrousseau commented on #264
I like the way you handle responsive. But I don't see any sketch of a zen mode. I know it's a nice to have but that's something I would like to have to write my emails.

[2015-04-02 20:39] frankrousseau commented on #274
+1 I noticed the same problem.

[2015-04-03 08:32] frankrousseau commented on #149
Done.

[2015-04-03 08:32] frankrousseau commented on #259
I think it's fixed. Could you check again?

[2015-04-03 11:51] poupotte opened #281 "Contact drag and drop doesn't work well"
I can move my contact from 'To' to 'CC'. But If I move my contact from 'CC' to 'To' it disappear.

[2015-04-03 11:54] poupotte commented on #259
It works well now, thanks @frankrousseau

[2015-04-03 11:54] #259 closed

[2015-04-03 11:54] poupotte commented on #149
Thanks @frankrousseau

[2015-04-03 11:54] #149 closed

[2015-04-07 08:05] clochix commented on #275
Could you please keep this messages with their headers so we could investigate ?

[2015-04-07 08:07] clochix commented on #271
Ok, I'll try to remove the code that count messages and see if it works. Otherwise, I'll come back to you.

[2015-04-07 08:12] aenario commented on #277
Should have been fixed in https://github.com/cozy/cozy-emails/commit/0dd1cf4d11c54b0cb8771e6c1ce07567bc181c7e

[2015-04-07 12:46] aenario commented on #132
Plus review de toute la suppression

[2015-04-07 12:54] poupotte opened #284 "Don't display removed message in conversation"

[2015-04-07 13:13] poupotte opened #285 "Display label for answered mail"

[2015-04-07 13:17] poupotte opened #286 "Remove line breaks on the top of reply mail"

[2015-04-07 13:18] poupotte opened #287 "Add mail in header of forwarded messages"

[2015-04-07 13:22] #229 closed

[2015-04-07 13:24] poupotte commented on #276
It works well. Thanks @clochix

[2015-04-07 13:24] #276 closed

[2015-04-07 13:24] #215 closed

[2015-04-07 13:24] #263 closed

[2015-04-07 13:25] #253 closed

[2015-04-07 13:30] poupotte commented on #277
Seems broken : I've an attachment with spaces, I can open it in another window but if I try to download it, I receive an error  :

[code]

[2015-04-07 13:35] clochix opened #288 "Have a look at picture import inside the RTE"

[2015-04-07 15:12] frankrousseau opened #289 "Should not add twice the prefix Re: in the reply subject"
When I reply to an email I don't want to duplicate the "Re:" prefix in the subject.

[2015-04-08 07:52] clochix commented on #281
This should also fix a second bug : dropping a contact over its source field deleted it.

[2015-04-08 12:42] #252 closed

[2015-04-08 13:13] clochix opened #290 "Prevent user to rename “special” folders"
It seems to be a good idea to prevent user to rename the INBOX mailbox (maybe also other “special” mailboxes like Draft, Sent, Trash), because if this mailboxes are missing, other mail client will probably re-create them, resulting in a mess.

[2015-04-08 13:15] clochix commented on #290
A P3 feature would be to allow local alias for every mailbox, allowing user to display “boate de réception” without renaming the mailbox on IMAP server.

[2015-04-08 13:41] m4dz commented on #290
:+1: for local aliases!

[2015-04-08 14:38] poupotte commented on #281
Mmmm... I have a strange behavior:
I move my contact from 'To' to 'CC' then from 'CC' to 'To'. Contact label disappears but if I type a character in input 'To' my contact label re-appears. (Same behavior on Firefox and Chrome)

[2015-04-09 06:24] pierrerousseau opened #292 "Spam folder emails displayed as not read"
Hi,

I just updated my email app this morning, it's a very nice improvement. However, it adds new bugs :p

This one is a bit annoying : now the spams from my gmail account are displayed as "not read" so I have something like 350 emails not read all coming from the spam folder (created by gmail i guess). And I get notifications for this.

This folder does not belong to my favorites, so I think a go

[2015-04-09 07:37] aenario opened #293 "If the connection is lost during import, display error only if we cant connect back"
ie. we need some kind of retry mechanism when the connection close under our feet.

[code]

[2015-04-09 08:03] clochix commented on #284
What shall we do when displaying messages in Draft and Trash folder ? Should we display the whole conversation they belong, or only the message itself.
The rules for conversation display make it a little bit harder to display conversations inside this folder, but it could make sense.

[2015-04-09 09:34] clochix opened #294 "Error replying to message without body"
Some message don't have body, only attachments (for example PGP/MIME messages). An error is thrown trying to answer them.

[2015-04-09 10:05] aenario commented on #292
Hi @pierrerousseau ,

I agree that including messages from trash & spam/junk in the account unread count is a problem and we will fix it.

However, for my personal use case, I have a number of filter boxes (like github, couchsurfing, amazon) that are automatically filtered, I dont want them in my favorites, but i want to know when there is unread mail in them.

[2015-04-09 16:52] frankrousseau commented on #292
The other important aspect of the bug is that it pops new email notification every hour. Romain tell me if it's hard to solve. We should fix it quickly, it is very annoying.

[2015-04-09 16:52] aenario commented on #292
Mmh, it should pop notification only if you received new emails during the hour. Otherwise its a bug !

[2015-04-09 17:27] frankrousseau commented on #292
A you'right I have new emails often. Because the number is totally irrelevant, I thought it was a bug.

[2015-04-10 13:33] clochix opened #298 "Unable to re-open message preview after closing it"
Reported by @Abbo44 : when he closes a message preview with the arrow on top left, selecting another message doesn't display its preview.
Seems like a regression.

[2015-04-10 14:08] clochix opened #299 "Replying to some message freeze the browser"
@Abbo44 just sent me a copy of a message. When he tries to answer it, it freeze the browser.

[2015-04-10 14:13] #123 closed

[2015-04-10 14:13] #226 closed

[2015-04-10 14:20] poupotte opened #300 "Display error after an update"
If I update my application, when I return on my application, I have an error 'Argh, I'm unable to perform this action, please try again'. A refresh removes it.
Sometimes, it displays error also after a restart.

[2015-04-10 14:26] clochix commented on #298
@m4dz in fact, this one is for you, it's related to the layout : instead of toggling fullscreen, the arrow on the upper right corner closes the preview and prevent from re-opening it. I think you will fix this when working on the layout.

[2015-04-10 14:51] frankrousseau commented on #298
Yes M4dz told me it's related to panel management.

[2015-04-10 15:19] #206 closed

[2015-04-10 15:20] poupotte commented on #286
It works well, thanks @frankrousseau

[2015-04-10 15:20] #286 closed

[2015-04-10 15:22] poupotte commented on #289
It's ok for me. Thanks @frankrousseau

[2015-04-10 15:22] #289 closed

[2015-04-10 15:22] poupotte commented on #287
It works for me. Thanks @frankrousseau

[2015-04-10 15:22] #287 closed

[2015-04-10 15:23] poupotte commented on #281
It works well now, thanks @clochix

[2015-04-10 15:23] #281 closed

[2015-04-10 15:23] clochix commented on #284
To sum up what we decided : hidding some messages in conversation is hard, because the number of messages inside the conversation would be wrong, so we display every messages, but add an icon on draft and deleted ones.
@m4dz should have a look on the icons.

[2015-04-10 15:41] poupotte commented on #60
Number of unread messages for account doesn't seem work. I haven't unread mail in my mailbox and application displays 125 unread messages :/ . @aenario , don't hesitate if you want more information.

[2015-04-10 15:46] poupotte commented on #96
It works for me. Thanks @aenario .

[2015-04-10 15:46] #96 closed

[2015-04-10 15:51] poupotte commented on #236
Notification is well removed. Thanks @clochix .

For a next version, it should be nice to display `Saved` (with inactive button) instead of `Save draft` after draft saving. But I suppose is not easy because this state is avaible only between the save and the next user modification on his draft.

[2015-04-10 16:04] clochix commented on #299
Happens on message with HTML body without text alternative. We convert HTML to Markdown, and the converter uses an erroneous regex.

[2015-04-13 07:09] poupotte commented on #249
It works for me. Thanks @clochix .

[2015-04-13 07:09] #249 closed

[2015-04-13 07:21] poupotte commented on #294
It works for me. Thanks @clochix

[2015-04-13 07:21] #294 closed

[2015-04-13 07:45] poupotte opened #303 "Problem with reply-all"
If I receive a message from a mailing-list, first message is :
    **From:**  `Contact x`
    **To:** `ML`

If I reply, draft has `Contact x` as recipient : OK
If I reply-all, draft has `Contact x` as recipient : KO -> It should be `Contact x` and `ML`

[2015-04-13 08:01] poupotte commented on #299
It works for me. Thanks @clochix .

[2015-04-13 08:01] #299 closed

[2015-04-13 08:06] poupotte opened #304 "Problems displaying mail with lots of blockquotes"
![mail_quote](https://cloud.githubusercontent.com/assets/2659119/7111876/a9a0660e-e1c4-11e4-9c08-1ace977c7046.png)

[2015-04-13 08:07] pierrerousseau opened #305 "More information on fetching email process"
It would help to have information about what is happening when cozy-mail fetch emails.

For now, there is only a loader icon, without even a tooltip telling what it is about.

If you don't want to add information on the page, a tooltip would help : something saying what is this icon when nothing is happening, and when the loader is displayed what mailbox is being refreshed (otherwise it's just run

[2015-04-13 08:13] clochix commented on #303
This is an annoying UI bug : ML is added to recipients in cc field, but this filed is hidden. I'll fix it.

[2015-04-13 08:19] clochix commented on #236
As a user, I'd like so to be able to save the message “by hand”, by clicking on the save button. So I'm not a big fan of updating its label (or just for a few seconds) and disabling it. What do you think ?

[2015-04-13 08:20] clochix commented on #300
Next time, could you have a look at server logs, to get the full error message ? Thanks ☺

[2015-04-13 08:33] poupotte commented on #300
I haven't errors in server logs :/ .

[2015-04-13 08:34] frankrousseau commented on #305
+1

[2015-04-13 08:38] poupotte commented on #90
It works well.

I have just one problem with draft. Indeed, if I begin to reply to an email, it creates a draft. I delete this draft. Draft is well marked as deleted but each time I open my message, I come back on my draft (because deleted messages are displayed). In my mind, it's a strange behavior.

I'm not sure for a perfect solution :
* Don't display deleted messages
* Open conversation on the

[2015-04-13 08:44] poupotte commented on #236
I agree with you to allow to save 'by hand', I proposed to display 'Saved' on inactive button between the end of automatic save and the next modification (or 2 seconds after automatic save).
Indeed, the spinner on button is displayed very quickly, so I'm not sure, user see it.

[2015-04-13 09:10] clochix commented on #236
I don't have a big screen, so most of the time buttons are outside my viewport when I reply to a message. I don't see spinner, but wouldn't see a label change on the button.

[2015-04-13 10:00] frankrousseau commented on #236
@clochix Can you provide a screenshot about your screen issue? I think it would help @m4dz for his layout rebuilding.

[2015-04-13 10:15] clochix commented on #236
![layout](https://cloud.githubusercontent.com/assets/384908/7113701/af3ea26c-e1d6-11e4-9e51-41468beb7580.png)

[2015-04-13 10:20] clochix commented on #90
I think that when discading a draft, we should really remove it from the server instead of moving it to trash. @aenario are we able to do this server side ?
(also, for now, a deleted draft should'nt be opened in edit mode, I'll fix this)

[2015-04-13 10:39] frankrousseau commented on #236
Thank you, it's a lot clearer now!

[2015-04-13 11:25] poupotte commented on #277
It works well, thanks @jsilvestre

[2015-04-13 11:25] #277 closed

[2015-04-13 12:32] poupotte commented on #47
This issue should obsolete. @frankrousseau , Are you ok if I close it ?

[2015-04-13 12:44] poupotte commented on #233
Refs #305

[2015-04-13 13:30] clochix opened #307 "All message list is loaded when application is in the background"
Open Email application, then switch back to the home and open the Network panel of your favorite Firebug : a lot of requests are sent to load all messages in current folder. It seems like a loop on `loadNext` when app frame is inactive.

[2015-04-13 16:39] poupotte commented on #138
Mmmm... it works on the first message, but if I open older messages in a conversation, tooltips don't work for its.

[2015-04-14 06:27] poupotte commented on #138
Moreover, when I click on a button after tootip apparition, tooltip doesn't disappear,  I have to move my mouse.
![tooltip](https://cloud.githubusercontent.com/assets/2659119/7131463/f8c2a27c-e27f-11e4-99b9-b28fc3c5dff6.png)

[2015-04-14 07:03] poupotte opened #309 "Really remove draft instead of moving it to trash"
Refs #90
" When discading a draft, we should really remove it from the server instead of moving it to trash. "

[2015-04-14 08:06] jsilvestre commented on #138
About the tooltip that doesn't fadeout, I opened an issue on aria-tips: https://github.com/m4dz/aria-tips/issues/4.

[2015-04-14 08:18] frankrousseau commented on #138
I face the same bugs.

[2015-04-14 08:29] jsilvestre commented on #138
I managed to reproduce the bug that on other messages, tooltips are not shown. I'm just scratching a bit my head around the matter. Also pushed fixes to aria-tips, I will work a bit more on it in order to make it smoother.

[2015-04-14 11:28] #47 closed

[2015-04-14 11:28] frankrousseau commented on #47
Yes  @m4dz fixed it.

[2015-04-14 11:29] frankrousseau commented on #45
Let's close it, we'll work on responsive later.

[2015-04-14 11:29] #45 closed

[2015-04-14 13:23] poupotte commented on #46
Thanks @frankrousseau, information message are better now.

[2015-04-14 13:23] #46 closed

[2015-04-14 13:44] poupotte opened #315 "Strange behavior on messages deletion"
If I select a message and my mouse is focused on another in messages list. If I press `Suppr`, it's focused message wich are deleted. In my mind, it should be the selected message.

Moreover, I can't use keyboard shortcut `Suppr` with several selected messages. In view of buttons aren't always displayed when I navigate in my messages list, it should be nice to use `Suppr` for selected messages.

[2015-04-14 14:17] poupotte commented on #303
It's fixed, thanks @clochix .

[2015-04-14 14:17] #303 closed

[2015-04-14 14:21] poupotte commented on #90
Thanks @clochix, I opened #309 to really remove draft.

[2015-04-14 14:21] #90 closed

[2015-04-14 14:24] poupotte commented on #304
It's work for me. Thanks @clochix .

[2015-04-14 14:24] #304 closed

[2015-04-15 15:29] poupotte opened #319 "'Connection test' button creates mailbox (on mailbox creation)"

[2015-04-15 15:36] poupotte opened #320 "Problem with draft in messages navigation"
When I navigate in my messages list (with keyboard shortcuts), if there is a draft in a conversation, it breaks navigation (mouse focus is on draft).

[2015-04-16 07:03] poupotte opened #321 "Contact labels on the same line than input in mail composition"
In mail composition, it should be nice to have contact labels on the same line than input (see tags in contact as an example).

![contact_label](https://cloud.githubusercontent.com/assets/2659119/7175653/49faed64-e417-11e4-8287-6ca01ddc38d0.png)

[2015-04-16 07:05] poupotte opened #322 "In mail composition, when I add an input for CC or Bcc, focus should be on it."

[2015-04-16 07:06] poupotte opened #323 "Creation of mail account seems broken"

[2015-04-16 07:07] poupotte opened #324 "In mail creation, lots of toastr appear"
Maybe a duplication of #323 .

[2015-04-16 07:12] poupotte opened #325 "Creates automatically a "invisible" contact"
When I send an email to an unknown contact, it should be nice to save it for autocompletion. This contact should be invisible for contact application (with a specific tag as an example) to avoid polluting contacts list.

[2015-04-16 07:27] poupotte opened #326 "Improve all confirmation dialogs"
In my mind, we have the choice between :
* Improve this pop-up (design + message)
* Remove this pop-over: save draft by default with a toastr to undo saving.

I think, the first solution is better for now. If pop-up is still annoying after that, we could remove it.

[2015-04-16 07:40] frankrousseau opened #327 "Send is broken"
At yesterday demo, the email sending failed (showed a popup to save a draft). Sending an email should work in any case.

[2015-04-16 07:50] frankrousseau commented on #327
@poupotte @aenario @clochix This one is really important.

[2015-04-16 08:10] poupotte opened #328 "Problem with interface in draft composition"
When I compose my draft (normal interface) :
![composition](https://cloud.githubusercontent.com/assets/2659119/7176649/87360bba-e420-11e4-8d77-c3bec65e1ca2.png)

When I leave my composition page (left pannel moves) :
![composition_confirm](https://cloud.githubusercontent.com/assets/2659119/7176665/989ce842-e420-11e4-9580-d94f3fb5e6bf.png)

After I confirmed my draft saving (messages list is shifte

[2015-04-16 08:18] poupotte opened #329 "Add simple search"
Add search on :
* recipient
* sender
* dates
* the beginning of title

[2015-04-16 08:18] poupotte opened #330 "Add search on title"

[2015-04-16 08:18] poupotte opened #331 "Add search on mail content"

[2015-04-16 08:19] poupotte commented on #126
Replace by #329, #330 and #331.

[2015-04-16 08:19] #126 closed

[2015-04-16 09:36] pierrerousseau opened #332 "refresh button does not change to loader when clicked"
When I click on the refresh button, nothing seems to happen, the loader does not appear whereas the refresh process seems to be launched (request emails/refresh?all=true is called)

[2015-04-16 10:32] clochix opened #333 "Empty subject when using reply all"

[2015-04-16 10:59] jsilvestre commented on #321
https://github.com/chenzihui/react-tokenizer is the way to go (or could be use as a source of inspiration).

[2015-04-16 11:43] poupotte commented on #332
Thanks @pierrerousseau for your report.

[2015-04-16 15:19] clochix commented on #84
I re-open this as one user rised this issue yesterday.

[2015-04-16 18:57] clochix opened #334 "Don't display message action in list toolbar"
In conversation mode, we should only perform actions (like marking as seen) on conversation, not message, so we should remove message actions from the toolbar.

[2015-04-16 18:57] clochix opened #335 "Allow to mark conversation as Important / Normal"

[2015-04-16 19:15] clochix commented on #327
The “draft” flag was not removed when message was sent, so sending a message that was previously saved as draft triggered the cancel draft dialog.

[2015-04-17 07:13] poupotte commented on #333
It's fixed, thanks @clochix

[2015-04-17 07:13] #333 closed

[2015-04-17 07:15] poupotte commented on #322
It works well, thanks @clochix

[2015-04-17 07:15] #322 closed

[2015-04-17 07:22] poupotte commented on #327
Seems work for me, thanks @clochix

[2015-04-17 07:22] #327 closed

[2015-04-17 07:43] jsilvestre opened #339 "Blank space popping up when reading a message"
When I expand a collapsed message in a conversation, the message is logically shown. After a short time (something like 1 or 2 seconds), a blank space is appended at the bottom of the message's content, resulting in the screen "jumping".

[2015-04-17 08:06] poupotte commented on #335
It works if I stay on classic messages list.

However, I find a strange behavior :
* I select a conversation
* Mark it as important
* Unselect message
* Filter my messages on important
* Select my message
* Mark it as normal
* Message is marked unread but stay important.

[2015-04-17 08:42] poupotte commented on #334
It works well, thanks @clochix .

[2015-04-17 08:42] #334 closed

[2015-04-17 11:17] clochix opened #340 "Add spinner on account check button"

[2015-04-17 11:21] clochix opened #341 "Errors in server logs after account deletion"
It seems like server tries to refresh deleted accounts, I get this errors in logs:

    EROR models:account CANT REFRESH ACCOUNT Youpi { [NotFound: Not Found: Account#a9a9c063258e6198975a955722188b0f]
      name: 'NotFound',
      status: 404,
      message: 'Not Found: Account#a9a9c063258e6198975a955722188b0f' }

[2015-04-17 11:25] poupotte opened #343 "Mailbox creation is broken"

[2015-04-17 12:54] clochix commented on #343
Should have been fixed by #342 / 1f79e33

[2015-04-17 14:14] kao98 commented on #256
Hi,

Is there an open discussion about that question? On the forum? Elsewhere?

[2015-04-17 14:26] poupotte commented on #323
Duplication of #343

[2015-04-17 14:26] #323 closed

[2015-04-17 14:30] poupotte commented on #324
Seems work. Thanks @clochix.

[2015-04-17 14:30] #324 closed

[2015-04-17 14:34] frankrousseau commented on #256
I think it's the only place where we talk about it. It would be nice to open a thread on the forum about it.

[2015-04-17 14:49] poupotte opened #346 "Open last unread message in conversation"
It should be nice to open last unread message ( instead of last ) when we open a conversation.

[2015-04-17 14:57] kao98 commented on #256
Thread opened (in French) here:
https://forum.cozy.io/t/password-des-comptes-email-accessible-en-clair/513

2015-04-17 16:34 GMT+02:00 Frank Rousseau <notifications@github.com>:

[2015-04-17 15:00] poupotte commented on #60
it works for me. Thanks @aenario  (it takes long time between update and correct counter)

[2015-04-17 15:02] poupotte opened #347 "Draft isn't saved if we leave composition page before first save."

[2015-04-17 15:05] clochix opened #348 "Undo actions on conversations don't work"

[2015-04-17 15:42] clochix opened #350 "Wrong error message on IMAP timeout"
Checking the parameters of a GMail account, we get the message “Wrong IMAP TLS”. It seems that the error message is wrong, according to https://github.com/cozy/cozy-emails/blob/master/server/imap/pool.coffee#L238

[2015-04-17 15:57] clochix opened #352 "Error sending message with attachment"
From our user @Abbo44

He gets a 500 when sending a message with an attachment. Here's the call stack:

    TypeError: Cannot call method 'getBinary' of undefined
    at contentToBuffer (/usr/local/cozy/apps/emails/build/server/controllers/messages.js:226:30)
    at async.mapSeries.message.attachments (/usr/local/cozy/apps/emails/build/server/controllers/messages.js:262:14)
    at /usr/local/cozy/

[2015-04-18 08:47] clochix commented on #347
I think we should first implement #309 that allow to really delete drafts instead of moving them to trash.

[2015-04-18 11:03] clochix opened #353 "Allow to disable draft autosave"
When I plan to use PGP to encrypt a message, I don't want the draft to be saved unencrypted, so please provide a way to the PGP addon to disable draft autosave. Thanks !

[2015-04-19 11:48] Kloadut opened #354 "New email account auto-configuration"
It would be awesome, as said in the last user meeting, to have an auto-configuration at account creation, based on the email address.

2 different ways to implement it:

* (Simple) Retrieve configuration for common providers (Gmail, Yahoo, Live, etc.)
* (Complex) Use the Thunderbird mechanism: https://developer.mozilla.org/en-US/docs/Mozilla/Thunderbird/Autoconfiguration

[2015-04-19 12:10] clochix commented on #354
As also said in the last user meeting, we already follow the easy way, by checking Thunderbird's provider database. So account configuration is already set for all major providers.

[2015-04-19 12:12] Kloadut commented on #354
Oh great! Sorry then :)

[2015-04-19 12:12] #354 closed

[2015-04-20 06:15] poupotte commented on #343
It seems of. Thanks @clochix .

[2015-04-20 06:15] #343 closed

[2015-04-20 06:18] poupotte commented on #292
It's ok for me. @pierrerousseau, your problem should be fixed in the next version.

[2015-04-20 06:37] poupotte commented on #171
Duplication of #116

[2015-04-20 06:37] #171 closed

[2015-04-20 07:02] poupotte commented on #256
I close this issue, we can continue  discussion in forum thread.

[2015-04-20 07:02] #256 closed

[2015-04-20 08:10] poupotte commented on #319
It's fixed. Thanks @clochix .

[2015-04-20 08:10] #319 closed

[2015-04-20 08:18] clochix opened #356 "Add user readable server error message"
The IMAP server of one of the accounts of @Abbo44 is temporary down, and he get, on client side, this error : `Une erreur est survenue : connect EHOSTUNREACH`. We should log this sort of errors on server side, but expose a more user friendly one to the user.
(and don't forget to localize this messages).

[2015-04-20 08:29] clochix commented on #288
The first step is done, I investigated and know how to add an image to a message from an external source. It works for now with Web Activity to import an image from the File app, I need to work with @Benibur to use its popup that allows to select images from the photo application.

We should also handle the images dropped into the editor from the window manager of the user. I have some code for th

[2015-04-20 08:32] clochix commented on #340
I think this has been merged in #342 (but the log of the PR has been lost) and can be tested.

[2015-04-20 08:39] clochix commented on #274
I'm waiting for #132 (which implies some refactoring of the frontend affected code) before having a look at this one.

[2015-04-20 09:37] jsilvestre commented on #138
@poupotte I did more improvements, there is still the bug you mentioned because I don't manage to reproduce it with aria-tips alone...What should we do with this issue?

[2015-04-20 11:06] frankrousseau opened #357 "Account component refactoring"
I think we do not develop properly with React. That makes the application hard to maintain. Moreover we don't take advantage of the testability of React.

I didn't read much blog post about React and its siblings but I think we can apply basic principles of UI development. That includes:

* Proper naming of each component.
* Use a set of basic components reusable among main widgets (button, title,

[2015-04-20 11:07] clochix opened #358 "[security] Sanitize table and table cell background"
I'm performing tests with https://github.com/cure53/HTTPLeaks

We don't sanitize background attribute of `table` and `td`, so, when opening a message with this attributes, the browser perform request that may allow an attacker to know the message has been opened.

[2015-04-20 11:12] frankrousseau opened #360 "Wrong styling of sent message"
Paragraphs are not properly rendered by Thunderbird, the margins are too big.

[2015-04-20 11:12] clochix opened #361 "Only block remote images"
For now, when displaying a message in HTML, we block all images, the ones in attachment and the remote ones.
I think we could:
 - display by default images attached to the message. They don't have privacy concern ;
 - block remote images and highlight them (for example with a red background), so user can know if message contains tracking pixels.

[2015-04-20 11:23] poupotte commented on #138
Issue in aria-tips is sufficient for the issue but it lacks tooltips for some buttons, so this issue must stay opened.

[2015-04-20 12:01] frankrousseau commented on #361
The red border should not be displayed by default. It would really break HTML message style. I think it should be actionable via a button.

[2015-04-20 12:03] clochix commented on #361
I said “background”, not “border” ;-) (to not break messages, I agree).

[2015-04-20 12:05] frankrousseau commented on #361
I don't know how much transparent images are used. Let's see.

[2015-04-20 13:56] poupotte commented on #340
It works well, thanks @clochix .

[2015-04-20 13:56] #340 closed

[2015-04-21 07:16] #250 closed

[2015-04-21 07:16] #60 closed

[2015-04-21 07:16] #236 closed

[2015-04-21 07:16] #292 closed

[2015-04-21 08:33] clochix opened #365 "Server crash"
Not sure of which action resulted in this crash, because I was using the client while tests ran in parallel. I think I was trying to remove a draft just created by the tests, so that may have had the Recent flag.

    cozy-emails/node_modules/imap/lib/Connection.js:620
            throw new Error('The keyword "' + items[i]
                  ^
    Error: The keyword "\Recent" contains invalid chara

[2015-04-22 20:26] christi9n opened #369 "Menu bar inaccessible after "new mail""
Everything is going on well during navigation in the whole interface.
Except after clicking on "New mail", me nu bar then disapears (Iceweasel 37.0.2).
I attach screen capture.

![capture du 2015-04-22 22 25 13](https://cloud.githubusercontent.com/assets/11626946/7284507/78e0ec4c-e93e-11e4-9dc8-f168940dbf33.png)

and Many thanks ;o)

[2015-04-22 20:42] frankrousseau commented on #369
I experience the same problem and it's very annoying.

@poupotte do you think we can add it to the current sprint?

[2015-04-23 14:10] poupotte commented on #369
This issue is a duplicate of #328. @m4dz works on layout in the current sprint, this issue should be fixed with his refactoring.

[2015-04-23 14:12] clochix commented on #271
As a side effect of working on filtering, I found, at last, why using the link didn't work ☺

[2015-04-23 15:14] christi9n commented on #328
Many thanks ;o)

[2015-04-23 15:40] poupotte opened #373 "Can't open first message in conversation"
In most conversations, I can't open the first message. I can open all others but I can't click to open the first.
It works for some conversations but I don't find any differences between conversations which work and others :(.

[2015-04-23 15:54] poupotte commented on #373
It works after a restart of my application. I close this issue because I don't arrive to reproduce it now. I'll reopen it if I have this issue another time.

[2015-04-23 15:54] #373 closed

[2015-04-23 21:46] frankrousseau commented on #49
I fixed it by using a default alert. I think there is no urge anymore on improving this part.

[2015-04-23 21:53] frankrousseau commented on #141
I think I can handle that one. Can we add it to the sprint?

[2015-04-23 21:54] frankrousseau opened #374 "Add GUI unit tests for message_utils module"

[2015-04-23 21:55] frankrousseau commented on #374
If I have enough time, I would like to initiate a unit test infrastructure. The module I will work on first will be the message_utils module.

[2015-04-24 06:41] poupotte commented on #141
Ok.

[2015-04-24 07:40] clochix commented on #141
I think it would be great to allow a different signature for each account. So, maybe adding this to the account config screen.

[2015-04-24 07:43] frankrousseau commented on #141
Yes I would like to add this to the config screen.

[2015-04-24 08:22] aenario commented on #374
Please dont test the message actions functions, they will move with my next PR.

[2015-04-24 08:28] clochix commented on #329
After speaking with @poupotte and @aenario, we won't do filtering on subject in this sprint, because we need to use the indexer for this one. Using only CouchDB views make the messaged sorted by subject, not date.

[2015-04-27 10:34] aenario opened #383 "Import error"
The following error was reported by an user.

It appears the IMAP server replied with the code "System error (Failure)" when the app attempted to open a box to fetch one mail.

I will ask the user for more information about provider.

[code]

[2015-04-27 11:36] poupotte opened #385 "Can't access to compose page"
When I try to compose a new message, I receive this error :
[code]

[2015-04-27 11:39] poupotte commented on #360
It doesn't work for me :/

Sent message (in Cozy):
![message_sent](https://cloud.githubusercontent.com/assets/2659119/7346845/ad00d38c-ece2-11e4-94a3-ef052de888f0.png)

Received message (in Thunderbird):
![message_received](https://cloud.githubusercontent.com/assets/2659119/7346852/bb7e755e-ece2-11e4-8897-c4b2141c7340.png)

[2015-04-27 11:47] poupotte commented on #332
It works for me. Thanks @jsilvestre .

[2015-04-27 11:47] #332 closed

[2015-04-27 12:54] poupotte commented on #305
It works for me. Thanks @jsilvestre .

Information displaying can shift left menu width but we correct this issue with #265 .

[2015-04-27 13:08] poupotte commented on #138
Thanks @jsilvestre

[2015-04-27 13:08] #138 closed

[2015-04-27 13:49] jsilvestre commented on #305
Yes I figured that would be fixed quickly...just did the minimal required painting. Can't wait to see it properly styled.

[2015-04-27 14:32] poupotte opened #388 "Remove errors after a correct check connection in account creation"
After a check connection or if I cancel account creation, then I return in account creation page, errors are still present :
![error_account_creation](https://cloud.githubusercontent.com/assets/2659119/7349562/54958270-ecfa-11e4-9285-ab387433a361.png)

We should remove errors after a correct check connection or if user cancel an account creation.

[2015-04-27 15:27] frankrousseau commented on #360
Do you use Thunderbird in text mode ?

[2015-04-27 15:47] clochix commented on #360
FTR, I previously hacked MediumEditor to insert BR instead of paragraphs when hitting return, but this changes where lost some weeks ago when I updated the lib.
I've just restored them and will push them ASAP.

[2015-04-27 16:01] frankrousseau commented on #360
I think it will break my changes. I relied a lot on paragraphs. I will merge and make more testing.

[2015-04-27 17:02] frankrousseau commented on #357
I think the work is done. It's now about bugfixing. Things seem to be proper enough.

[2015-04-27 17:02] #357 closed

[2015-04-27 17:03] frankrousseau commented on #360
Ok I tried with the latest version and it works. Could you try again @poupotte and tell me if you are in text mode?

[2015-04-27 17:04] frankrousseau commented on #385
It should be fixed.

[2015-04-28 08:05] clochix commented on #271
@poupotte I updated the code used to determine if there are more messages to show, it should now be simpler and works in more cases. Crossing fingers.

[2015-04-28 08:10] clochix commented on #288
I added this to current sprint, as I already did half of the work for the image drag and drop inside editor, and would like to finish it.

[2015-04-28 08:33] poupotte commented on #385
It works. Thanks @frankrousseau

[2015-04-28 08:33] #385 closed

[2015-04-28 08:35] poupotte commented on #141
If I haven't signature defined, it displays 'undefined' instead of nothing:
![signature](https://cloud.githubusercontent.com/assets/2659119/7365615/37099960-ed92-11e4-8e5e-70998625292e.png)

[2015-04-28 08:41] poupotte commented on #141
I can't change my signature. Buttons in setting account page aren't available :

![account](https://cloud.githubusercontent.com/assets/2659119/7365704/0ce3c1fa-ed93-11e4-8087-2880f6077692.png)

[2015-04-28 08:56] poupotte commented on #360
Yes, I'm in palin text :

Original html :
![original_html](https://cloud.githubusercontent.com/assets/2659119/7365917/cf01b4d0-ed94-11e4-8ff1-62979b516d66.png)

Simple html :
![simple_html](https://cloud.githubusercontent.com/assets/2659119/7365920/d3347ce0-ed94-11e4-9a32-41ea6f6b99cd.png)

Plain Text :
![text_plain](https://cloud.githubusercontent.com/assets/2659119/7365931/e19fe27e-ed94-11e4-8d0

[2015-04-28 09:00] poupotte commented on #271
It seems still broken :(

If I delete several messages/conversations, it displays 'This is the end of the road' instead of retrieve next messages.

[2015-04-28 09:25] poupotte commented on #329
**Date :**
It works but if I select from x to y, it doesn't display messages received the y day. In my mind, these messages should be included.

**Recipient / Sender :**
It seems work but messages aren't sorted by date.

**General :**
 * When I left filter page, my messages in my classic messages list aren't sorted by date.
 * If I open an email after a filter and then I search on other filter, I

[2015-04-28 09:47] frankrousseau commented on #360
Ok. Can you tell me which version of Thunderbird you have?

[2015-04-28 09:48] frankrousseau commented on #288
@clochix It's better if you fix current issues (realted to quick search). Demo day is thursday.

[2015-04-28 09:48] poupotte commented on #360
31.6.0

[2015-04-28 09:51] poupotte commented on #360
Sourrce code for my mail :

[code]

[2015-04-28 10:36] aenario commented on #141
fix in https://github.com/aenario/cozy-emails/commit/780c4e9e73c615912ac50e023c945bd74563f691
It is a problem with React keys.

[2015-04-28 11:25] frankrousseau commented on #141
Ok. It should be fixed by https://github.com/cozy/cozy-emails/pull/392

[2015-04-28 11:26] frankrousseau commented on #141
@aenario your fix is included in a huge PR. That's why I did it in a separated one.

[2015-04-28 11:41] aenario commented on #141
np, #392 was merged and #391 was rebased to remove this part

[2015-04-28 11:51] poupotte commented on #141
It works well. Thanks @frankrousseau .

Just a small things, in plain text, I have two `---` before my signature but this issue seems related to #360.

[2015-04-28 11:57] frankrousseau commented on #141
The extra hyphens will be removed in the next build. Thank you @poupotte for the review

[2015-04-28 13:29] #141 closed

[2015-04-28 13:29] #233 closed

[2015-04-28 13:29] #305 closed

[2015-04-28 15:03] poupotte commented on #132
Delete a message with keyboard shortcut 'Suppr' seems broken :/

[2015-04-28 15:28] poupotte commented on #271
Infinite scrool works for me. Thanks @clochix  and @aenario.

[2015-04-29 15:05] clochix commented on #348
Seems like this has been fixed as a side effect of #132, @aenario can you confirm ?

[2015-04-30 06:44] jsilvestre commented on #284
What is left in this issue? I feel like it's kinda working the way it's expected. I'd add a more visible thing that just the icon to show the message has been deleted (like an color overlay). What do you think?

[2015-04-30 07:51] m4dz commented on #284
I think the icon is a good way but can be easily surrounded by an overlay, like a pattern on the header, suggesting the mail is _disabled_. Good suggestion :smile:.

[2015-04-30 08:34] poupotte opened #400 "Deletion seems broken"
When I try to delete a message, I receive an error as:
[code]

[2015-04-30 09:54] frankrousseau commented on #360
I think this fix should be removed from the sprint. I won't have the time to perform it for this afternoon.
Sorry for the wrong estimation.

[2015-04-30 12:38] poupotte opened #402 "Signature isn't changed if mailbox changes in compose page"

[2015-04-30 12:39] clochix opened #403 "Don't mark all conversation as read when opening a message"
When I open a conversation with several unread messages, all messages are marked as read. We should only mark a message as read when the user really opens it

[2015-04-30 12:40] clochix opened #404 "Display first unread message in conversation"
When displaying a conversation with several unread messages, we should open the oldest unread message instead of the newest message.

[2015-04-30 15:15] poupotte commented on #329
It works well, thanks @clochix

[2015-04-30 15:16] poupotte commented on #348
It seems works also for me.

[2015-04-30 15:22] poupotte commented on #132
It works well, thanks @aenario

[2015-04-30 15:22] #132 closed

[2015-04-30 15:23] poupotte commented on #400
It's fixed. Thanks @clochix

[2015-04-30 15:23] #400 closed

[2015-04-30 15:27] poupotte commented on #360
I haven't anymore 'p {margin} ...' on text mode.
However I still wrong paragraph on text mode and simple HTML.

[2015-04-30 15:28] poupotte commented on #125
It works well, thanks @jsilvestre .

[2015-04-30 15:28] #125 closed

[2015-04-30 15:32] clochix opened #405 "Wrong In-reply-to header"
When composing a new message, its `in-reply-to` header is set to `<>`, and all messages with this header are attached to the same conversation.

[2015-04-30 15:46] frankrousseau commented on #360
Yes I removed the style header. Now we are in the same state as before.

[2015-04-30 15:59] #348 closed

[2015-04-30 16:00] #329 closed

[2015-05-03 21:10] frankrousseau opened #409 "Some emails are marked as unread while they were read before"
Sometime, I have already read emails that are marked as unread.

[2015-05-03 21:11] frankrousseau opened #410 "Unread mail counter is not updated after an email is read"
When I read emails, the counter in the left menu is not updated instantly.

[2015-05-03 21:12] frankrousseau opened #411 "Loading indicator changes the width of the menu"
When the loading label changes, the width of the menu changes. It's annoying.

[2015-05-03 21:14] frankrousseau opened #412 "Deleting several emails should lead to a single notification"
When I delete several emails, it displays many notifications. It should display only one notification for the whole batch.

[2015-05-03 21:15] frankrousseau opened #413 "Deleting several emails should remove them instantly from the list"
When I delete several emails, the deletion works but the experience is poor. It very long to remove every emails.

[2015-05-03 21:16] frankrousseau opened #414 "Canceling a draft creation should not display warning when the draft is empty"
When I cancel a wrong reply it asks me to confirm that I want to cancel it. It's annoying, especially when coding on reply features.

[2015-05-03 21:17] frankrousseau opened #415 "Deleting a draft should lead to a single notification"
When canceling a draft. If deletion is confirmed, two notification are displayed. It's annoying.

[2015-05-03 21:29] frankrousseau opened #416 "Expeditor filter should apply to contact name too"
Currently when filtering on a sender, it only search on the email. Searching on the contact name would be great too.

[2015-05-03 22:23] #271 closed

[2015-05-03 22:23] #143 closed

[2015-05-04 07:06] poupotte commented on #346
Duplicated (#403)

[2015-05-04 07:06] #346 closed

[2015-05-04 07:15] poupotte commented on #409
Duplication of #274

[2015-05-04 07:15] #409 closed

[2015-05-04 07:27] poupotte commented on #369
I close this issue, you can see development on #328.

[2015-05-04 07:27] #369 closed

[2015-05-04 07:29] poupotte commented on #383
@aenario, have you more information about this issue ?

[2015-05-04 07:41] poupotte commented on #412
It seems work for me.

It displays one notification by email or several notification as 'x conversation deleted' ?

[2015-05-04 08:40] arthurlutz opened #417 "empty error message while setting up email"
After getting errors on the imap port, I changed some settings, tried the check connection button again and got an empty red box and so fields highlighted.

![screenshot from 2015-05-04 10 38 24](https://cloud.githubusercontent.com/assets/108437/7450824/cc0501e2-f249-11e4-97d8-3955ef610e0a.png)

[2015-05-04 11:38] poupotte opened #419 "Add pictures from Cozy"

[2015-05-04 12:52] poupotte commented on #347
It works for me. Thanks @clochix .

[2015-05-04 12:52] #347 closed

[2015-05-04 14:54] clochix commented on #416
Have you an example which doesn't work ? (FTR, filtering is based on CouchDB, so the real meaning of the filter is “name or address starts with…”)

[2015-05-04 15:14] clochix commented on #413
How do you delete messages from the list ? When I select some messages and click on the trash in toolbar, they are immediately removed from the list (deleting message on the server takes more time, so the confirmation notification is displayed a few seconds later).

Deleting them with “delete conversation” in action menu seems broken.

[2015-05-04 16:18] frankrousseau commented on #413
I select something like 20 messages and click on the trash button.

[2015-05-04 16:19] frankrousseau commented on #416
"Luc Collin" as name and "jlcollin" as email.

[2015-05-04 16:19] frankrousseau commented on #412
One by email.

[2015-05-04 21:00] clochix commented on #416
I'm able to display an email sent by "Luc Collin" <jlcollin@xxx> by filtering either on "Luc Collin" or "jlcollin"

[2015-05-05 07:51] ZeHiro commented on #232
Hello,
do you have any plan to fix this?
I currenly cannot use the mail app to write mails (just reception).
Thanks

[2015-05-05 07:54] clochix commented on #232
Hello ZeHiro,
good news, this is in progress, see #84. Should be available in next version.

[2015-05-05 07:56] ZeHiro commented on #232
Cool. Thank you for the fast answer.
Good job on all the cozy project.

[2015-05-05 08:06] poupotte commented on #235
Keyboard navigation works with the last version.

[2015-05-05 08:06] #235 closed

[2015-05-05 09:01] clochix opened #420 "Deleting all displayed messages doesn't load next messages"
In list edit mode, I select all messages with the icon in the toolbox, then delete them hitting trash. They disappear, but next page isn't loaded, I get the “No email for this filter.” message.

[2015-05-05 09:02] clochix commented on #288
@poupotte could you give it another try, I hope I fixed the bug you hit during demo.

[2015-05-05 09:46] clochix commented on #416
We filter on the name and address in the message filter. Did you mean that if the sender is in your address book, you also would like to filter on its name there ?

[2015-05-05 10:04] poupotte commented on #413
Mmmm... I don't arrive to reproduce this issue.
@frankrousseau , You have this behavior at each deletion or it's a random behavior ?

[2015-05-05 20:37] clochix opened #421 "[regression] unable to get raw message"
The item in message menu doesn't do anything.

[2015-05-06 08:07] frankrousseau commented on #416
Now it works. If I still meet the problem I will open the issue again. Sorry for the inconvenience.

[2015-05-06 08:07] #416 closed

[2015-05-06 08:08] frankrousseau commented on #413
You should try on an online Cozy. Everything works well at the beginning but the messages come back then are deleted.

[2015-05-06 08:08] frankrousseau commented on #412
It works for me too. If it happens again I will repoen the issue. Sorry for the inconvenience.

[2015-05-06 08:08] #412 closed

[2015-05-06 08:56] poupotte commented on #413
Ah ok, at the beginning you see your messages disappear but sometimes its reappear. Thanks for precision.

I can reproduce it. It's probably due to requests crossing.

[2015-05-06 09:03] poupotte opened #422 "Draft saving seems broken."
I received errors when draft is saved. (development branch)
[code]

[2015-05-06 12:05] clochix commented on #419
Done on a branch in my fork, looking for feedbacks from @Benibur.

[2015-05-06 12:58] poupotte commented on #422
It works. Thanks @clochix .

[2015-05-06 12:58] #422 closed

[2015-05-06 13:03] poupotte commented on #415
It works for me. Thanks @clochix .

[2015-05-06 13:06] poupotte commented on #232
It's available on development branch. @ZeHiro, you can already test it if you installe emails in 'development' branch or wait the next version (at the end of next week).

[2015-05-06 13:28] poupotte commented on #405
It seems work. Thanks @clochix

[2015-05-06 13:30] clochix commented on #417
I'm unable to reproduce this one, so I updated the code at the only place I found where an empty notification may be thrown. I also prevented empty notifications to show up. Instead, the app will throw an exception that we can get in server logs to ease debug next time it happens.

[2015-05-06 13:51] ZeHiro commented on #232
@poupotte , I 've installed the dev branch, but it does not seem to work.
I tried to update the mail account (so I didn't create one), and the Check of the connection fails.
It is like the imapLogin Field is not taken into account in the check of the connection, before enabling to save the new parameters.

Another bug I noticed : french locale for "Utilisateur IMAP (s'il est différent du login)" s

[2015-05-06 14:30] clochix opened #424 "Account autoconfig reset account form"
When editing an existing account, on blur in the address field, the account auto-discover is triggered. If no server is discovered, it delete current values.

[2015-05-06 15:01] clochix commented on #232
My bad, checking the connection uses a different code path, where imapLogin wasn't used. I'll fix this and come back to you.
Could you try to save the account without checking the parameters, and tell me if it works ?

Thanks for your suggestions, I've updated the labels.

[2015-05-06 17:29] ZeHiro commented on #232
The imap logins and smtp logins were store in the DB, but I cannot check if this really works, as I cannot save the address : when saving the address, a connection check is done, and fails.

So I still don't have a proper mail saved in the "login" field of the DB, I cannot check :
- if the right login is used to connect to imap
- the right login is used to connect to smtp
- I cannot test sending a

[2015-05-06 19:13] ZeHiro commented on #232
I forked the app and added https://github.com/clochix/cozy-emails/commit/5e07ed27ca7a01b92c48f76a873a9ccf26c2d8f3 commit.
And it works fine now.
Thank you

[2015-05-07 08:58] poupotte opened #425 "Mail header description"
In conversation view, if I display header description, fields `From` and `To` are empty.

[2015-05-07 09:00] poupotte opened #426 "New mails are diplayed in filter"
As an example : I filter my message to display only mails received two month ago. I receive a new message, it is displayed in the beginning of the messages list.

[2015-05-07 09:12] poupotte commented on #285
Now, responses are immediatly displayed at the end of conversation. So, I'm not sure if this feature is necessary. @frankrousseau , what do you think ?

[2015-05-07 09:17] poupotte commented on #335
I test my use case with the new version and it works now.

[2015-05-07 09:17] #335 closed

[2015-05-07 09:34] poupotte opened #427 "Keyboard navigation in message list doesn't start infinite scroll"
If I navigate in my messages list with keyboard, when I arrive at the end of the list, it stops at the last message. Thus, `Display more messages` isn't displayed and so application doesn't retrieve next messages. Scroll my list with my mouse is enought to trigger messages retrieval.

[2015-05-07 10:19] poupotte opened #428 "Add labels and filters management to automatically sort messages."
From [forum](https://forum.cozy.io/t/app-emails/369/16)

[2015-05-07 11:32] clochix commented on #428
May be related to #103

[2015-05-07 11:50] clochix commented on #232
Thanks a lot @ZeHiro ! The code will be in the next official version of the application ☺

[2015-05-07 12:43] clochix commented on #232
@poupotte I think you can test by setting a wrong user address, your real one in IMAP Login field, and checking connection.

[2015-05-07 12:44] poupotte commented on #232
Thanks @clochix, I'll test it :)

[2015-05-07 12:52] poupotte commented on #232
It seems work for me, thanks @clochix .

[2015-05-07 13:17] poupotte opened #430 "[regression] Delete message with keyboard is broken"
Delete message with keyboard is broken. I haven't eror notifcation, but I receive this error in my console :
[code]

[2015-05-07 13:23] poupotte commented on #430
@clochix , Do you think the lack of notification may be related with #417 ?

[2015-05-07 13:26] clochix commented on #430
I'm on it, just a call forgotten during mass deletion refactoring.
No notification because this is an error in our code that should never happen, so it's not catched. Fix ASAP.

[2015-05-07 13:29] poupotte commented on #288
It works well even if focus isn't on content mail. Thanks @clochix

[2015-05-07 13:29] #288 closed

[2015-05-07 13:32] clochix commented on #430
Oups, my bad, I just broke this in my latest commit, by cleaning the code by splitting a line to reduce its length ☹ Really sorry.

[2015-05-07 13:34] #421 closed

[2015-05-07 14:50] poupotte opened #431 "[regression] Keyboard navigation is broken"
I can't navigate in messages list with keyboard.
(I don't receive error)

[2015-05-07 15:05] poupotte commented on #424
It works well. Thanks @clochix

[2015-05-07 15:05] #424 closed

[2015-05-07 19:22] clochix commented on #431
Closing, it's a duplicate of #430 (same regression)

[2015-05-07 19:22] #431 closed

[2015-05-09 13:47] #232 closed

[2015-05-11 08:14] arthurlutz opened #433 "Automatically import attached ics into calendar"
It would be great if the mail application would detect if attachment is an icalendar file and automatically import it with the attached information into the calendar app.

[2015-05-11 08:31] arthurlutz commented on #417
Should cozy-email work with self signed certificates ?

[2015-05-11 08:40] arthurlutz opened #434 "Enable configuration of login for imap for use case when email != login"
To get my email account to work I had to say email = "arthur" instead of email = "arthur@example.org" since my imap server seemed to be saying that it did not know arthur@example.org... this is probably a misconfiguration of my imap server but in case it isn't one should be able to have this advanced setting while setting up email on cozy

[2015-05-11 09:10] arthurlutz opened #435 "Generated error when emptying Trash on initial import"
After configuring cozy-emails could and watching it import some information from the imap server, the Thrash folder seems quite long, so I went to look at it in another mailer and realized it was full of stuff I could get rid of, so I emptied the trash from Thunderbird.

Cozy-email still works but there is an error message on the Trash folder

[code]

[2015-05-11 09:13] arthurlutz commented on #435
Cozy is actually stuck on 19% on the Trash folder...

[2015-05-11 10:27] clochix commented on #417
@arthurlutz I think that by default, Cozy will reject self-signed certificates.

The libraries we use allow to set advanced TLS options, so we should be able to allow the user to ask not to reject self signed certificates, or to register its certificate.

[2015-05-11 10:29] clochix commented on #434
We just did it in #232, should be available next week ☺

[2015-05-11 10:41] arthurlutz commented on #435
Now stuck at 100% on Thrash. Couchdb is being CPU intensive and there seems to be quite a lot of IO too.

[2015-05-11 14:21] poupotte opened #436 "'--\n' missing in signature when we reply to a message."

[2015-05-12 10:21] frankrousseau opened #437 "Stacktrace after sending an email"
I got an error message and saw this in my logs. I think it's a big issue because it happens many times:

[code]

[2015-05-12 10:26] frankrousseau commented on #437
In fact it breaks my email client totally.

[2015-05-12 10:27] frankrousseau commented on #437
It didn't happen when I had only one email box. Now I have two (both from OVH) it doesn't work.

[2015-05-12 13:26] clochix opened #438 "Forwarding a message is broken"
Throws a client side JS exception and does nothing visible.

[2015-05-12 13:38] poupotte commented on #430
It's work weel, thank @clochix .

[2015-05-12 13:38] #430 closed

[2015-05-12 13:41] poupotte commented on #403
It works for me. Thanks @clochix

[2015-05-12 13:41] #403 closed

[2015-05-12 13:42] #84 closed

[2015-05-12 13:43] #415 closed

[2015-05-12 13:43] poupotte commented on #404
It works well for me. Thanks @clochix .

[2015-05-12 13:43] #404 closed

[2015-05-12 13:55] poupotte opened #439 "Random fail for message deleting"
I tried to delete a message with keyboard shortcut. I received this error :
[code]

I retried and it worked.

This behavior happens for two differents messages (in two differents mailboxes).

[2015-05-12 13:56] clochix opened #440 "Error when trying to forward message with attachments"
Server error when trying to forward a message with attachments.

[2015-05-12 14:06] poupotte opened #441 "Random bugs in conversation navigation"
When I navigate in my conversations, sometimes, I receive some errors `Argh, I'm unable to perform this action, please try again`. I have this error in my console :
[code]

[2015-05-12 14:11] clochix commented on #439
Probably fixed by b439414

[2015-05-12 14:23] clochix commented on #437
One more regression due to #405 (inReplyTo must be a string in NodeMailer, internaly we use an array).
This only happens when `in-reply-to` is set, so when replying to or forwarding messages.

[2015-05-12 15:29] clochix commented on #441
According to the stack trace, there are in fact two errors :
 - a network error on server side. The remote IMAP server closed the connection : "Error in fetchConversation" "c2989f8f-2af2-402f-a458-7dd11b02a90e" "Error: socket hang up"
 - an error on client side when trying to display this error.

Unfortunately, it will be hard to debug.

[2015-05-12 15:37] poupotte commented on #441
I have this error in my server mail if it can help.

I had lots errors (about 10) 'Bad request'.

[code]

[2015-05-12 15:45] clochix commented on #440
@aenario would you mind having a look at this one ? Thanks !

[2015-05-12 18:30] clochix opened #442 "Number of unread messages is sometime wrong"
Some users are reporting problems with number of unread messages:
 - from @goofy-bz https://lut.im/WjQGq1fe/SkXdRrow
 - from Dragavnir:
[code]

[2015-05-13 13:40] clochix commented on #417
In fact, I just saw in the code that we already allow self-signed certificates: https://github.com/cozy/cozy-emails/blob/master/server/imap/pool.coffee#L78
@aenario, could you confirm ?
IMHo, this is not secure, and we should add an option so user can choose to accept or reject untrusted certificates.

[2015-05-13 14:11] arthurlutz opened #443 "cozy-emails fails to mark read messages as read and displays two empty red boxes"
title says it all.

[2015-05-13 14:12] arthurlutz opened #444 "Number of unread emails could probably be the aggregate of the favorite folders"
... and have another number of unread emails on the "All" line.

[2015-05-14 12:03] frankrousseau commented on #443
Thank you @arthurlutz for reporting.

[2015-05-14 12:04] frankrousseau commented on #417
@aenario is in vacations. He will come back on monday.

[2015-05-14 12:04] frankrousseau commented on #444
Yes that's definitely a tough question. It really depends on the usage.

[2015-05-15 15:01] poupotte commented on #436
It works for me. Thanks @clochix .

[2015-05-15 15:01] #436 closed

[2015-05-15 15:03] poupotte commented on #438
It works well. Thanks @clochix .

[2015-05-15 15:03] #438 closed

[2015-05-15 15:11] poupotte commented on #274
It works perfectly \o/ !!!

Thanks @clochix .

[2015-05-15 15:20] poupotte commented on #411
Refresh loading doesn't move any more menu width.
Thanks @jsilvestre and @m4dz :) .

[2015-05-15 15:20] #411 closed

[2015-05-15 15:23] poupotte commented on #439
After several deleting, I didn't receive errors.
It seems fixed. Thanks @clochix .

[2015-05-15 15:23] #439 closed

[2015-05-15 15:38] poupotte commented on #437
@frankrousseau , have you still this error in your Cozy ?

[2015-05-16 18:25] frankrousseau commented on #437
Yep it works. thank you.

[2015-05-18 07:40] poupotte opened #454 "Some line in messages list are too long"

[2015-05-18 07:40] poupotte opened #455 "Select all doesn't work"
When I click on main checkbox, application doesn't select all messages.

[2015-05-18 07:42] poupotte opened #456 "Open next message after a deletion"
When I delete a message, it stays open in right panel.

[2015-05-18 07:50] clochix opened #457 "Allow to save layout disposition"
Each time I reload the page, I only have the condensed menu which is useless, not displaying my folders, and I have to click to expand it. I'd the application to remember my choice.

[2015-05-18 07:53] poupotte opened #458 "Improve search exit"

[2015-05-18 07:55] poupotte opened #459 "Put (again) date picker for search"

[2015-05-18 07:56] poupotte opened #460 "Add possibility to close a message."

[2015-05-18 07:56] poupotte opened #461 "Add possibility to display message in fullscreen"

[2015-05-18 08:52] clochix commented on #456
FTR, this issue also happen when moving a message.

[2015-05-18 13:16] #405 closed

[2015-05-18 13:19] #274 closed

[2015-05-18 13:20] arthurlutz commented on #435
Now whenever I do a refresh I just get "Initializing..." and no new emails since the 7th of may.

[2015-05-18 14:04] poupotte opened #463 "Fix locale"
Each tooltip message starts with 'tooltip'.

[2015-05-18 17:43] frankrousseau opened #464 "Fix quick filter"
I noticed two bugs:

* When I filter for an email or a name, it filters well but it returns emails that are 4 months old at least.
* When I empty the search field, it doesn't show my emails back.

[2015-05-19 06:51] jsilvestre opened #465 "Loading message when opening a mailbox looks cheap"
When you open a mailbox, there is a "Loading..." message, sticked on the top left without any kind of margin.

It's been looking very cheap for months, but with the new UI it's even worse :p

[2015-05-19 07:01] poupotte commented on #442
One problematic case : If I delete an unread message, counter isn't updated.

[2015-05-19 07:03] poupotte commented on #191
With new design, this issue is fixed. Thanks @m4dz .

[2015-05-19 07:03] #191 closed

[2015-05-19 07:03] #419 closed

[2015-05-19 07:04] poupotte commented on #434
@arthurlutz , It should be available on new email version. Don't hesitate to reopen this issue if it doesn't work for you.

[2015-05-19 07:04] #434 closed

[2015-05-19 07:05] #437 closed

[2015-05-19 07:05] #417 closed

[2015-05-19 07:33] poupotte opened #466 "Infinite scroll is slow"
When I navigate in my messages list, when I arrive in the end of displayed messages, I see 'Davantage de messages' during aboout 3 secondes before spinner starts. Thus, I wait about 8 secondes before see next messages.

[2015-05-19 07:38] poupotte commented on #120
With new design, in my mind, this issue is no more relevant.

[2015-05-19 07:38] #120 closed

[2015-05-19 07:48] poupotte commented on #443
@arthurlutz , we have published a new email version last Friday, have you still this issue ?

[2015-05-19 07:53] poupotte commented on #410
@frankrousseau , I don't arrive to reproduce your issue. Is it still true with new version ?

[2015-05-19 08:12] frankrousseau commented on #465
+1

[2015-05-19 08:14] jsilvestre commented on #454
I am this ticket's PO.

[2015-05-19 08:16] arthurlutz commented on #443
No, my email accounts are still broken. I'm starting to believe that the best way out is a "reboot" approach : delete my configured accounts and re-add them to have a clean state. Or is this an issue you want to debug further ?

[2015-05-19 08:22] jsilvestre commented on #455
I am this ticket's PO.

[2015-05-19 08:23] jsilvestre commented on #459
I am this ticket's PO.

[2015-05-19 08:23] jsilvestre commented on #460
I am this ticket's PO.

[2015-05-19 08:25] jsilvestre commented on #461
I am this ticket's PO.

[2015-05-19 08:27] jsilvestre commented on #458
I am this ticket's PO.

[2015-05-19 14:25] poupotte commented on #115
@clochix , actually, we can filter messages on unread, attachment and important flags. Do you want other filters or it's enough for you ?

[2015-05-19 14:28] clochix commented on #115
This issue was only meant to not forget filter code that was hidden. It has now been removed and replaced by a new implementation, so we can close this ☺

[2015-05-19 14:28] #115 closed

[2015-05-19 14:31] clochix commented on #106
Long time ago, a Settings screen allowed to select and load addons from remote servers. This code has been removed for long, so this issue is not relevant anymore. Closing it.

[2015-05-19 14:31] #106 closed

[2015-05-20 09:15] clochix commented on #309
Looking at the code, it seems that @aenario already did it in a previous refactoring. And it works for me ☺

[2015-05-20 09:20] clochix commented on #414
Shall we display the confirmation message only when message content is not empty or when message content has not been updated (ie when you hit reply, then cancel without altering message content, should we display the confirmation message ?)

[2015-05-20 09:26] frankrousseau commented on #414
Both case sounds good.

[2015-05-21 08:34] poupotte commented on #463
It's ok for me. Thanks @m4dz.

[2015-05-21 08:34] #463 closed

[2015-05-21 12:03] jsilvestre commented on #455
I checked this morning and it worked. Good job @m4dz!

[2015-05-21 12:04] #455 closed

[2015-05-21 15:22] clochix opened #474 "Pagination is broken when lot of messages have exactely the same date"
This can occur when receiving spam or automatically generated messages.

[2015-05-22 11:36] poupotte commented on #456
It works well for me . Thanks @clochix  :)

[2015-05-22 11:36] #456 closed

[2015-05-22 14:12] clochix opened #476 "Don't navigate to next message when cancelling answer"
When I cancel a reply, application navigate to next message instead of staying on current message.

[2015-05-22 15:08] clochix opened #478 "Alert user when network is down"
For now, if we lost network connection, the application stop working but without any warning message. Also, draft are no more saved, but user is not aware of it.
We should at least display a warning message.

[2015-05-22 15:20] poupotte commented on #414
It seems work for me. Thanks @clochix .

[2015-05-22 15:23] poupotte commented on #466
It works well. Thanks @clochix !

[2015-05-22 15:23] #466 closed

[2015-05-25 07:52] clochix commented on #443
Hello @arthurlutz. If I remember, you're self hosted, so debuging further wouldn't be very easy. I think the best approach is to delete your account, wait a little bit to be sure everything is really deleted from CouchDB, and try to re-add your accounts. Let us know if it works better, otherwise we'll see what we can do to debug.

[2015-05-26 07:55] poupotte commented on #425
It works well. Thanks @m4dz :)

[2015-05-26 07:55] #425 closed

[2015-05-26 07:58] poupotte commented on #402
It works well. Thanks @clochix !

[2015-05-26 07:58] #402 closed

[2015-05-26 08:03] poupotte commented on #427
Infinite scroll works well with keyboard navigation. Only one detail, we can't see spinner. It would be better if user see it to know that scroll is started. Is it difficult to display it ?

[2015-05-26 08:05] poupotte commented on #476
It works well. Thanks @clochix

[2015-05-26 08:05] #476 closed

[2015-05-26 08:07] poupotte commented on #309
It works for me too :)

[2015-05-26 08:07] #309 closed

[2015-05-26 08:10] poupotte commented on #420
It works well for me ! Thanks @clochix

[2015-05-26 08:10] #420 closed

[2015-05-26 08:15] poupotte commented on #454
It works for me :)

[2015-05-26 08:22] poupotte commented on #307
It seems work for me. Thanks @clochix

[2015-05-26 08:22] #307 closed

[2015-05-26 08:22] #414 closed

[2015-05-26 08:40] clochix commented on #427
It's not a bug, it's a feature ! I now fetch next messages earlier (when last message is displayed, instead of when “more messages” appears), so the user wait less before getting them.
I'll add some margin under current message, to display the spinner.

[2015-05-26 10:00] frankrousseau commented on #402
Thank you for finishing the job about signature.

[2015-05-27 13:33] clochix commented on #326
To improve the confirmation dialog, I had to do some refactoring, so:
 - I replaced every call to `window.confirm` by a popin window ;
 - I refactored some components.

You should try:
 - the confirmation dialog when expunging trash mailbox;
 - the confirmation dialog when deleting messages / conversation;
 - the dialog when canceling a draft. When deleting a draft;
 - the window when there's erro

[2015-05-27 14:11] clochix opened #485 "[client] warning on EventEmitter memory leak"
A warning message is thrown because we use the `StoreWatch` mixin in `contact label` component. This was supposed to be fixed by a refactoring, which is now forgotten, so I open a ticket.

[2015-05-27 14:44] clochix commented on #413
I'm still unable to reproduce. @frankrousseau, do you still have this problem with the last version of the application ?

[2015-05-27 14:45] clochix opened #486 "Message drag and drop is broken"

[2015-05-27 15:54] Peltoche opened #487 "A refresh button"
A refresh button on each mailbox may be a great idee, I frequently use this button on other mail when I juste fill a form and I know than I will recieve a mail in few second.

[2015-05-27 17:52] frankrousseau commented on #413
Yeah the messages still come back when I delete too much messages in a row.

[2015-05-27 21:31] vialibre opened #488 "Conversation pane gets too large when a big set of addresses is displayed"
When viewing an email with a large set of recipients, the addresses lines (To:  ,Cc:, etc.) are forced not to wrap with css "white-space:no-wrap", causing the conversation pane to overflow.

Since overflow is set to hidden, the layout is broken, with a part of the message and the buttons not visible.

[2015-05-29 08:30] jsilvestre commented on #460
This works great, thanks you.

[2015-05-29 08:31] jsilvestre commented on #461
This works great, thank you.

[2015-05-29 08:31] jsilvestre commented on #458
Exactly what was needed, thanks.

[2015-05-29 08:31] jsilvestre commented on #459
This works great, thanks.

[2015-05-29 08:33] jsilvestre commented on #298
Apparently it's fixed, thanks to #260

[2015-05-29 08:33] jsilvestre commented on #454
Good for me too!

[2015-05-29 13:53] poupotte commented on #326
Confirmation dialogs are better like that. However, there are some issues :
* When I delete a conversation (with keyboard shortcut) : I see a window.confirm
* When I delete a message : I have message for expunging trash mailbox
* Title and message are identical in modal :
![confirm_modal](https://cloud.githubusercontent.com/assets/2659119/7883891/425ed1ea-061a-11e5-873e-146bc29a21b5.png)

[2015-05-29 13:55] poupotte commented on #427
It works well ! Thanks @clochix :)

[2015-05-29 13:55] #427 closed

[2015-05-29 14:06] poupotte commented on #486
Drag and drop works well, thanks @clochix !

[2015-05-29 14:06] #486 closed

[2015-05-29 15:32] poupotte commented on #326
Thanks @clochix for changes, it works well :)

[2015-05-29 15:32] #326 closed

[2015-05-29 16:01] clochix opened #491 "Add a keyboard shorcut to validate default dialog option"
When deleting messages with keyboard, we need to use the mouse to confirm deletion. Hitting `Enter` key should select the default action of the modal dialog.

[2015-05-29 16:03] clochix opened #492 "Don't ask before deleting a message"
We can undo message deletion, so I think it would be fine to don't ask before deleting every message, this is just annoying, especially when deleting with keyboard.
We could remove the confirmation dialog, or just show it when deleting more than one message. What do you think?

[2015-05-29 16:58] frankrousseau commented on #492
+1

[2015-05-29 17:00] frankrousseau commented on #487
Thank you @Peltoche for reporting.

Before putting this button back we want to make it almost useless :). I mean we want to make the mail fetching automatic and efficient.

[2015-05-29 17:02] frankrousseau commented on #488
Thank you for the report @vialibre. @m4dz will look at it.

[2015-05-29 17:24] m4dz commented on #488
Thanks a lot, we have identified this issue and already fix it in a recent commit. This will be deployed in the next release ;)

[2015-06-01 07:10] Thatoo commented on #487
For now, on my cozy and my father's, cozy-emails are not refreshing at all. No new emails are displaying since I setup both of them.
Cozy-emails is a little bit useless so far.

[2015-06-01 07:58] ZeHiro opened #493 "change width of window does not keep width of left column"
Hello, on la0st email version (0.9.0), in Firefox beta (38.0.5), when only the list of message is displayed (no open message), and the page is full screen (1680*1050), if I reduce teh width of the window (stick to one side of the screen (the page is 1680/2 * 1050), the accoundt column is too small. See screen shot.
![capture_email](https://cloud.githubusercontent.com/assets/7999082/7908386/c979b0c

[2015-06-01 08:50] clochix opened #494 "Cursor disapear in compose editor"
@Abbo44 reported that sometime in the compose editor, the cursor disappear. I can confirm but am unable to reproduce.

[2015-06-01 08:52] clochix opened #495 "Message dests randomly disappear"
From @Abbo44 : “Quand on ajoute un destinataire et qu'on commence à écrire un message , le destinataire disparait. J'ai l'impression que la textbox du message fait disparaitre le destinaire”

[2015-06-01 08:54] clochix opened #496 "Problem displaying a message in a conversation"
According to Abbo44, “Sur une conversation dans un message bien particulier que j'ai, j'arrive à avoir l'aperçu du contenu du dernier message reçu dans la liste des messages mais lorsque je clique sur le message particulier, alors je n'ai que l'avant-avant-avant dernier message, bref pas le dernier après je sais plus le combientième”

[2015-06-01 11:38] poupotte opened #497 "Some message deletions don't work."
@frankrousseau , can you precise the scenario to reproduce this issue ?

[2015-06-01 12:39] clochix commented on #495
@jsilvestre suggested we could try to use this library https://github.com/chenzihui/react-tokenizer What do you think ?

[2015-06-01 12:48] poupotte opened #498 "Refactor application component"

[2015-06-01 14:19] poupotte opened #499 "Close message when a filter is activated"
When I use a filter, if I have an opened message, this message should be closed.

[2015-06-02 06:59] #264 closed

[2015-06-02 06:59] #265 closed

[2015-06-04 05:57] aenario commented on #492
Note : Draft deletion cant be undone, we might want to confirm for Draft only.

[2015-06-04 16:55] frankrousseau commented on #495
I think the problem is wider than that. When you write an email, especially with answers, sometimes, everything you wrote is cleared.

[2015-06-04 16:56] frankrousseau commented on #497
Not really. I sent a problematic email to @aenario. I just delete a lot of messages in a row then it happens.

[2015-06-05 11:37] poupotte opened #504 "Problem with navigation after a deletion"
After a deletion (with keyboard), sometimes, indicator for keyboard navigation doesn't correspond to the opened message.

[2015-06-05 11:43] poupotte opened #505 "Desactivates filter if user changes mailbox."
In my mind, when user has an activated filter, if he selects another mailbox, filter should be desactivated.

[2015-06-05 12:45] clochix opened #506 "Server crash"
I was trying to delete a draft created some minutes ago.

Here's the stack trace:

[code]

[2015-06-05 15:22] clochix commented on #440
FTR, here's the stack:
[code]

[2015-06-05 15:38] clochix opened #507 "Replying to a message inside a conversation sometime fold the message"

[2015-06-08 07:15] poupotte opened #508 "Problem with filter on sender or recipient"
* When I click on button to remove my search on recipient or sender: messages list is well diplayed but text in search is still present.
* When I remove text in this search:  messages list isn't correct, it seems correspond to message send by me.

[2015-06-08 07:16] poupotte commented on #491
It works well, thanks @clochix :)

[2015-06-08 13:16] Peltoche commented on #487
Same issue, one day my cozy-emails stop synchronising. I remove/install and it's now ok but...weird

[2015-06-08 14:53] Peltoche opened #509 "Markdown"
That would be great if we can write mail in markdown. It's easy, quick and effectif but mayde not enought friendly but we might can bind this with classic editor.

[2015-06-08 14:57] Peltoche opened #510 "Edition mail: include url issue"
Hey!

A little annoying bug: when you select some text and add an url, it's not working. You must re-select the text and click on the check. The first time the url is juste unregister on the buffer but not effectif.

[2015-06-08 15:21] Thatoo commented on #487
I updated emails and it downloaded the new messages. I'll let you know if it stops working again.

[2015-06-10 07:43] Thatoo opened #515 "RWD problems"
Hello,

This time, it's not on my computer with the small resolution of 1024x600 that I have a problem. It works fine on my computer.
![capture du 2015-06-10 10 37 08](https://cloud.githubusercontent.com/assets/464782/8077256/dcb28660-0f5c-11e5-88d3-810147bc3854.png)
I can scroll to reach the button "envoyer"! If I open the side menu, it displays nicely with the inbox, sendbox, draft and stuff in

[2015-06-10 09:12] clochix commented on #509
I think this could be implemented as an addon. Do you now a free (as is beer) Markdown editor you would like to use to compose your messages ?

[2015-06-10 10:39] frankrousseau commented on #515
Thank you again for reporting @Thatoo!

It's a long time since we noticed the layout problem. @poupotte What do you about putting this problem at high priority level for the next sprint?

[2015-06-12 06:58] poupotte commented on #321
It works well. Thanks @clochix .

[2015-06-12 07:04] poupotte commented on #464
There is less problems on quick filter but some issues stay :
* When I click on button to remove my search on recipient or sender: messages list is well diplayed but text in search is still present.
* When I remove text in this search: messages list isn't correct, it seems correspond to message send by me.

I open an issue with the two problems that I see #508

[2015-06-12 07:14] clochix commented on #498
Thanks to this ticket, I did a lot of code cleanups during this sprint. Hopefully, nothing visible. So I think we can close this one.

[2015-06-12 07:16] clochix commented on #321
In fact, @aenario pointed some problems with Chromium, so I did some fix which will be merged in #517.

[2015-06-12 07:17] poupotte commented on #321
Ok, thanks. I've tested only on Firefox.

[2015-06-12 09:57] notabene opened #518 "No emails shown in list views"
Hi cozy-emails,

I connected Cozy to my email account via IMAP and everything worked fine.

But although I can see the list of IMAP folders, I can't see any email in them:

![Inbox in Cozy: empty](https://cloud.githubusercontent.com/assets/664145/8127761/899892be-10f9-11e5-9872-2fa6fe88476d.png)

Although if I look at my Thunderbird, I can see every email I have in my IMAP:

![Inbox in Thunderbird

[2015-06-12 14:26] cylwin opened #519 "Settings for oauth2 gmail account"
@clochix

I'm adding the support of Google oauth for imap connection.

We have to hide some fields in the settings form :
 - hide password
 - hide advanced selection for imapserver and smtp server.
 - Add the information : Google Oauth Account

In the new account document there is a field oauthProvider = "GMAIL".

[2015-06-12 14:28] clochix opened #520 "Updating special mailboxes of an account is broken"
This is a regression I introduced some days ago in ddebabd.
Will fix it asap.

[2015-06-15 07:09] poupotte commented on #518
It seems that your application applies unread filter for unknown reason. Could you try to activate/desactivate unread filter ?

[2015-06-15 07:12] poupotte commented on #515
Hello @Thatoo,

We published a new version last Friday, it should fixed your issues.

[2015-06-15 07:17] poupotte commented on #504
Correspondence between the opened message and indicator seems ok now. However, the message opened after a delete doesn't always correspond to the next message.

[2015-06-15 07:19] poupotte commented on #493
We published a new version last Friday. It should fix your issues.

[2015-06-15 07:24] poupotte commented on #300
This issue seems fixed. I close issue.

[2015-06-15 07:24] #300 closed

[2015-06-15 07:27] notabene commented on #518
@poupotte Yes, I tried that too, but to no avail.

[2015-06-15 07:34] poupotte opened #522 "Problem in conversation display"
When I display a conversation (with several messages), it doesn't display all messages at the begining. It creates a screen jump.

[2015-06-15 07:36] poupotte commented on #413
It should be fixed in the new version. @frankrousseau , can you test it on your Cozy ?

[2015-06-15 07:37] #460 closed

[2015-06-15 07:37] #298 closed

[2015-06-15 07:37] #458 closed

[2015-06-15 07:37] #459 closed

[2015-06-15 07:37] #454 closed

[2015-06-15 07:37] #461 closed

[2015-06-15 07:37] #491 closed

[2015-06-15 07:38] #321 closed

[2015-06-15 07:38] #498 closed

[2015-06-15 07:38] #464 closed

[2015-06-15 07:38] #488 closed

[2015-06-15 09:19] m4dz commented on #509
I think a dedicated editor for markdown is not especially relevant. But we may want to have a "preview" field where the content is rendered (in this case, using [marked](https://www.npmjs.com/package/marked) is certainly the best choice).

It raises another point: shall we do send markdown formatted messages as it (in markdown raw flavour) or should we convert them to HTML (e.g. using marked) befo

[2015-06-15 12:20] aenario opened #523 "Explicit that emails will be imported in cozy"
It is not clear that the emails app will import all emails in the cozy.

Ref : https://github.com/cozy/cozy-monitor/issues/80#issuecomment-112032989

[2015-06-15 13:42] #506 closed

[2015-06-15 13:50] poupotte commented on #352
It should be fixed in the new version. @Abbo44, it's ok for you ?

[2015-06-15 13:53] poupotte commented on #487
We can now force a refresh by opening mailbox.

[2015-06-15 14:16] poupotte opened #524 "Add long mail adress in mail composition"
When I add a long mail adress in contact input, it skips a line.

[2015-06-15 14:33] poupotte commented on #440
It works well. Thanks @aenario

[2015-06-15 14:33] #440 closed

[2015-06-15 20:44] Thatoo commented on #487
it's working! That's great!
Thank you!

[2015-06-16 08:42] #487 closed

[2015-06-16 08:42] #507 closed

[2015-06-16 08:42] #520 closed

[2015-06-16 08:43] #443 closed

[2015-06-16 08:45] poupotte commented on #493
@ZeHiro , do you still have your problem with the new version ?

[2015-06-16 08:46] poupotte commented on #49
In my mind, it's ok for a first improvement. I'll talk with @m4dz or @kelukelu to improve it. I'll open new issue for specific changes. Thanks @clochix .

[2015-06-16 08:46] #49 closed

[2015-06-16 09:21] ZeHiro commented on #493
@poupotte, I couldn't test yet. I tell you when I can.

[2015-06-16 10:36] Thatoo commented on #515
Right!
It's nice now.
Thank you!

[2015-06-16 12:52] #515 closed

[2015-06-16 12:57] Thatoo opened #525 "long sentence don't display nicely"
I received a mail that contained a long sentence and I couldn't read it easily. I had to go down to use the srcoll to go right and then go up again to read it...
Would it be possible to have the sentence croped automaticaly in order to fit into the length of the screen?

Good luck,

![capture d ecran 2015-06-16 a 15 43 15](https://cloud.githubusercontent.com/assets/464782/8183341/00730dc6-1440-11e

[2015-06-17 07:13] clochix commented on #426
I see two ways to fix this problem:
 - easy path: don't show new message when list is filtered (except maybe if it's filtered on unread messages) ;
 - better but harder: apply filters on client side to new messages.

The second is not really hard, but I wonder if it's worth going this path. What do you think ?

[2015-06-17 14:40] ZeHiro commented on #493
It is good to me. Thanks @poupotte

[2015-06-17 15:41] #493 closed

[2015-06-17 16:05] clochix commented on #525
Thanks for reporting @Thatoo ☺

@poupotte: we already discussed this, should we try to style the `PRE` tag in email content ?

[2015-06-17 19:38] m4dz opened #526 "Too long recipients in messages-list"
As issued in [this forum post](https://forum.cozy.io/t/app-emails/369/27), when a message has too much recipients(i.e. when someone send a mail to its whole addressbook), all recipients are displayed in the message-list cell-view, which is totally unusable. We should display recipients on one-line only to prevent the overflow.

[2015-06-19 12:51] nicodel opened #528 "Getting 'AUTHENTICATIONFAILED' messages even if credentials are good"
Cozy instance hosted on Cozy infrastructure (nicolas-6)
Data System: 2.0.3
Proxy: 2.0.0
Home: 2.0.2
Controller: 2.0.24
emails -  0.9.2

I have a weird issue on the email app. Sometimes new emails are not retreive and when I look at the logs I get several:
[code]

A restart of the application itself does not solve it. I get:
[code]

In order to get it working again I got to restart the whole Cozy.